<main id="main" class="main">
    <div class="pagetitle">
        <h2>Change Password</h2>
    </div>
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <!-- Add your content here if needed -->
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">

                        <div *ngIf="message !== ''">
                            <p class="text-center small">
                                <b class="success" style="color:rgb(59, 148, 61)">{{ message }}</b>
                            </p>
                        </div>
                        <div *ngIf="fail !== ''">
                            <p class="text-center small">
                                <b class="success" style="color:rgb(182, 56, 56)">{{ fail }}</b>
                            </p>
                        </div>

                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <!-- Your form content goes here -->
                        </form>

                        <br>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row mb-3">
                                <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label"
                                    style="margin-left:2rem">Current Password</label>
                                <div class="col-md-8 col-lg-9">
                                    <mat-form-field appearance="fill" style="width:30rem ;margin-left:2rem">
                                        <mat-label>Password</mat-label>
                                        <input matInput [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                            required name="password" formControlName="password"
                                            [(ngModel)]="currentpassword" type="password">
                                        <mat-error *ngIf="submitted && f.password.errors">Please enter your current
                                            Password</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="newPassword" class="col-md-4 col-lg-3 col-form-label"
                                    style="margin-left:2rem">New Password</label>
                                <div class="col-md-8 col-lg-9">
                                    <mat-form-field appearance="fill" style="width:30rem ;margin-left:2rem">
                                        <mat-label>New Password</mat-label>
                                        <input matInput name="newPassword"
                                            [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
                                            formControlName="newPassword" type="password" [(ngModel)]="newpassword">
                                        <mat-error *ngIf="submitted && f.newPassword.errors">Please enter new
                                            Password</mat-error>

                                        <mat-error *ngIf="f.newPassword.errors?.pattern">
                                            Password should be at between 8 - 15 characters long and should contain one
                                            number, one upper and lower case character, and one special character
                                        </mat-error>

                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label"
                                    style="margin-left:2rem">Re-enter New Password</label>
                                <div class="col-md-8 col-lg-9">
                                    <mat-form-field appearance="fill" style="width:30rem ;margin-left:2rem">
                                        <mat-label>Re-enter New Password</mat-label>
                                        <input matInput name="renewpassword" [(ngModel)]="confirmpassword"
                                            [ngClass]="{ 'is-invalid': submitted && f.renewpassword.errors }"
                                            formControlName="renewpassword" type="password">
                                        <mat-error *ngIf="submitted && f.renewpassword.errors">Please enter confirm
                                            Password</mat-error>
                                        <mat-error *ngIf="f.renewpassword.errors?.pattern">
                                            Password should be at between 8 - 15 characters long and should contain one
                                            number, one upper and lower case character, and one special character
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" mat-raised-button color="primary"
                                    style="margin-left: 6.5rem">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>