<div class="change-password-container">
  <mat-card class="change-password-card">
    <mat-card-header class="header-no-padding">
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>

    <mat-card-content class="no-padding">
      <form [formGroup]="form" (ngSubmit)="changePassword()">
        <div class="email-div">
          <div>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Enter Email</mat-label>
              <input matInput formControlName="email" />
              <!-- errors -->
              <mat-error *ngIf="form.get('email')!.hasError('required')">Email is required</mat-error>
              <mat-error *ngIf="form.get('email')!.hasError('email')">Invalid email address</mat-error>
            </mat-form-field>
          </div>
          <div class="forgot-buttons" *ngIf="requestOtp">
            <button mat-raised-button color="primary" class="full-width" type="button" (click)="sendOTP()"
              [disabled]="form.controls['email'].invalid">
              Request OTP
            </button>
          </div>
        </div>

        <div class="email-div" *ngIf="isOTPSent">
          <div>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Enter Your OTP</mat-label>
              <input matInput formControlName="otp" maxlength="8" />
              <mat-error *ngIf="form.get('otp')!.hasError('required')">OTP is required</mat-error>
            </mat-form-field>
          </div>
          <div class="forgot-buttons" *ngIf="validateOtp">
            <button mat-raised-button color="primary" type="button" class="full-width" (click)="validateOTP()"
              [disabled]="form.controls['otp'].invalid">
              Validate
            </button>
          </div>
        </div>

        <div class="pass-div" *ngIf="showPasswordFields">
          <div style="justify-content: center; align-items: center">
            <mat-form-field appearance="fill">
              <mat-label>Enter New Password</mat-label>
              <input matInput formControlName="password" type="password" />
              <mat-error *ngIf="form.get('password')!.hasError('required')">Password is required</mat-error>
              <mat-error *ngIf="form.get('password')!.hasError('pattern')">
                password: [ 8-15 chars, at least 1 upper, 1 lower, 1 special & 1 num]
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="pass-div" *ngIf="showPasswordFields">
          <div style="justify-content: center; align-items: center">
            <mat-form-field appearance="fill">
              <mat-label>Confirm New Password</mat-label>
              <input matInput formControlName="confirmPassword" type="password" />
              <mat-error *ngIf="form.get('confirmPassword')!.hasError('required')">Password is required</mat-error>
              <mat-error *ngIf="form.get('confirmPassword')!.hasError('pattern')">
                password: [ 8-15 chars, at least 1 upper, 1 lower, 1 special & 1 num]
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="buttons" *ngIf="showPasswordFields">
          <div class="buttons-inner">
            <button type="button" mat-raised-button color="accent" (click)="goBackToLogin()">
              Login
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="
                form.controls['password'].invalid ||
                form.controls['confirmPassword'].invalid ||
                form.controls['password'].value !==
                  form.controls['confirmPassword'].value
              ">
              Submit
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>