<h3>Dashboard</h3>

<div class="container">
    <mat-card id="submisstions" class="submisstions-card mat-elevation-z8">
      <mat-card-title>submisstions

      </mat-card-title>
    </mat-card>
    <mat-card  id="inteviews" class="inteviews-card mat-elevation-z8">
      <mat-card-title>inteviews

      </mat-card-title>
    </mat-card>

    <mat-card id="activity" class="activity-card mat-elevation-z8">
      <mat-card-title>activity

      </mat-card-title>
    </mat-card>
    <mat-card id="closures"class="closures-card mat-elevation-z8">
      <mat-card-title>closures

      </mat-card-title>
    </mat-card>
    <mat-card id="sourcing" class="sourcing-card mat-elevation-z8">
      <mat-card-title>sourcing

      </mat-card-title>
    </mat-card>
    <mat-card id="topselling" class="top-selling-card mat-elevation-z8">
      <mat-card-title>top-selling

      </mat-card-title>
    </mat-card>
</div>
