ul {
  padding-inline-start: 10px;
  background-color: rgb(228, 231, 234);
  // height: 2rem;
  padding-top: 2px;
  top: 0;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
  cursor: pointer;
}

ul.breadcrumb li a:hover {
  color: #0f4d83;
  text-decoration: underline;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: white;
  top: 0;
  overflow: hidden;
  margin: 4px;
  background-color: rgb(228, 231, 234);
}

.header-text {
  padding-left: 8px;
  font-weight: 600;
 
}

.header-container-leading-resources {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0px;
  z-index: 99999;
  top: 0;
  overflow: hidden;
  background-color: white;
}

.header-container-analysis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0px 6px 0px 0px;
  z-index: 99999;
  top: 0;
  overflow: hidden;
  background-color: white;
}

.overall-container {
  height: 100vh;
  overflow: auto;
  padding: 10px 10px 0 10px;
  background-color: rgb(228, 231, 234);
}

.overall-container-employee {
  height: calc(100vh - 110px);
  overflow: auto;
  padding: 10px;
  background-color: rgb(228, 231, 234);

  .container {
    display: flex;
    height: inherit;
    justify-content: space-between;
  }

  .container .right-div {
    width: 29%;
    overflow: auto;
    height: 100%;
  }

  .mat-mdc-card.activity-card-individual {
    height: inherit;
    padding: 15px;
    overflow-y: auto;
  }
}

.container {
  display: flex;
  height: auto;
  justify-content: space-between;
}

.container .left-div {
  width: 69%;
  display: flex;
  flex-direction: column;
}

.container .right-div {
  width: 29%;
  // overflow: auto;
}

.left-div {
  display: flex;
}

.left-div-inner-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.left-div-inner-cards .card-1,
.left-div-inner-cards .card-2,
.left-div-inner-cards .card-3 {
  width: 32%;
}

.table-container {
  // padding-top: 10px;
  flex: 1;
}

.table-container-dice {
  padding-top: 10px;
  flex: 1;
  // overflow: auto;
  height: 700px;
  // margin-bottom: 30px;
}

.table-style {
  width: 100%;
  overflow: auto;
  height: 500px;
  display: block;
  background-color: white;
}

.mat-mdc-header-row {
  height: 30px !important;
  background-color: rgb(147, 204, 204);
}

.mat-mdc-row {
  height: 30px !important;
}

.no-data-found {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 64px;
}

.mat-column-Name,
.mat-column-Category,
.mat-column-Address,
.mat-column-Email,
.mat-column-ContactNumber,
.mat-column-Owner,
.mat-column-Track,
.mat-column-PostedDate,
.mat-column-JobTitle,
.mat-column-JobLocation,
.mat-column-Vendor,
.mat-column-TaggedDate,
.mat-column-TaggedBy {
  border-right: 1px solid lightgray !important;
}

.mat-column-SNo,
.mat-column-Date,
.mat-column-Category,
.mat-column-VendorCount,
.mat-column-Vendor,
.mat-column-CategoryCount {
  border-right: 1px solid lightgray !important;
}

.card-1 .card,
.card-2 .card,
.card-3 .card {
  display: flex;
  flex-direction: row;
  padding: 0px 5px;
  align-items: center;
  justify-content: space-between;
}

.sourcing-card {
  padding-bottom: 10px;
}

.sourcing-card .card {
  display: flex;
  flex-direction: row;
  padding: 0px 5px;
  align-items: center;
  justify-content: space-between;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  font-size: 14px;
  margin: 0;
  font-weight: 700;
}

mat-typography p {
  margin: 0px;
}

.dashboard {
  font-size: .875em;
  font-weight: 700 !important;
  margin-bottom: 0px !important;
}

.track-button {
  width: fit-content !important;
  padding: 0px !important;
  height: auto !important;
  background-color: green !important;
  color: white !important;
}


.table-style-dice {
  width: 100%;
  overflow-y: auto;
  display: block;
  background-color: white;
}

.mat-mdc-menu-item {
  min-height: 30px !important;
}

.mat-mdc-fab.mat-accent.submission-icon,
.mat-mdc-mini-fab.mat-accent.submission-icon .submission-icon {
  --mdc-fab-container-color: #ffffcc;
  /* icon background color */
  --mdc-fab-icon-color: white;
  --mat-mdc-fab-color: #ffcc00;
  /* icon color */
}

.mat-mdc-fab.mat-accent.interview-icon,
.mat-mdc-mini-fab.mat-accent.interview-icon .interview-icon {
  --mdc-fab-container-color: #ffecdf;
  /* icon background color */
  --mdc-fab-icon-color: white;
  --mat-mdc-fab-color: #ff771d;
  /* icon color */
}

.mat-mdc-fab.mat-accent.closure-icon,
.mat-mdc-mini-fab.mat-accent.closure-icon .closure-icon {
  --mdc-fab-container-color: #e0f8e9;
  /* icon background color */
  --mdc-fab-icon-color: white;
  --mat-mdc-fab-color: #2eca6a;
  /* icon color */
}

.mat-mdc-fab.mat-accent.sourcing-icon,
.mat-mdc-mini-fab.mat-accent.sourcing-icon .sourcing-icon {
  --mdc-fab-container-color: #d6d8e9;
  /* icon background color */
  --mdc-fab-icon-color: white;
  --mat-mdc-fab-color: #3f51b5;
  /* icon color */
}

.mat-mdc-card.activity-card-individual {
  height: 548px;
  padding: 15px;
  overflow-y: auto;
}

.mat-mdc-card.activity-card {
  height: 678px;
  padding: 15px;
  overflow-y: auto;
}

a {
  color: #0d6efd;
  text-decoration: none;
}

a .name {
  font-size: 14px;
  font-weight: bolder;
  color: #717ff5;
}

.activity {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  justify-content: space-between;
}

.activity .activity-content {
  width: 79%;
}

.activity .time {
  margin: 0px auto;
  width: 19%;
}

.approved {
  color: #39c22d;
  font-size: 12px;
}

.rejected {
  color: #FF0000;
  font-size: 12px;
}

.added {
  color: #29abd3;
  font-size: 12px;
}

.submssion {
  color: #db1aab;
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}

b {
  font-weight: bold;
}

.bold-text {
  font-weight: bold;
}

.mat-mdc-card-content {
  padding: 0px 0px 16px 0px;
}

.consultant-id {
  cursor: pointer;
  color: #0275d8
}

.analysis-container {
  display: flex;
  height: auto;
  justify-content: space-between;
  padding-top: 10px;
}

.analysis-container .analysis-left-div {
  width: 49%;
}

.analysis-container .analysis-right-div {
  width: 49%;
}

.count {
  color: #4154f1;
  font-weight: bold;
  cursor: pointer;
}

.vendor-actions {
  display: flex;
  align-items: center;

  input:focus {
    border: solid 2px #3f51b5 !important;
    outline: none;
  }

  .search {
    height: 32px;
    padding: 0px 8px;
    overflow-wrap: normal;
  }

  .dice {
    width: 150px;
    display: flex;
    align-items: center;
  }


}
.date-picker-field {
  display: flex;
  align-items: center;
  
}

.date-picker-container {
  position: relative;
  flex: 1; /* Allow the input to expand */
}

/* Adjust the margin as needed */
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
  margin-right: 8px;
}
.mat-form-field {
  margin-bottom: 5px; /* Adjust as needed */
  
}


.search {
  height: 35px;
  padding: 0px 8px;
   
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: white;
  top: 0;
  overflow: hidden;
  margin: 4px;
  background-color: white;
  margin-bottom: -8.5px;
  margin-left: 0;
}

.header-text {
  padding-left: 8px;
  font-weight: 600;
}



