<div class="update-visa-dialog-container">
  <div class="header">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <hr>
    <button mat-icon-button (click)="onAction('SAFE_CLOSE')">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="content" mat-dialog-content>
    <form class="add-visa-form" [formGroup]="visaForm" name="visa-form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="vid">
      <mat-form-field class="visaname-field">
        <mat-label>Visa Status</mat-label>
        <input matInput formControlName="visastatus" maxlength="15">
        <mat-error class="error-message" *ngIf="controls['visastatus'].errors && controls['visastatus'].errors['required']">Visa Status is required</mat-error>
      </mat-form-field>
      <mat-form-field class="description-field">
        <mat-label>Description</mat-label>
        <textarea title="" maxlength="250" matInput
          formControlName="description"></textarea>
      </mat-form-field>
    </form>

    <div class="actions">
      <button mat-raised-button (click)="onAction('CANCEL')">{{data.buttonCancelText}}</button>
      <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">{{data.buttonSubmitText}}</button>
    </div>
  </div>
</div>