<!-- top header container -->
<section class="header-container" id="mainHeader">
  <span class="header-text" mat-dialog-title id="mainHeaderTitle">
    {{data.title}}
  </span>
  <button mat-icon-button  (click)="onCancel()" class="btn-close" id="btnClose">
    <mat-icon>close</mat-icon>
  </button>
</section>
<!-- matcard starts-->
<mat-card class="card" id="empCard">
  <!-- form starts-->
  <form [formGroup]="employeeForm" class="employee-form" id="empForm">
    <!-- form input controls -->
    <section class="form-container">
      <div class="form-column-left" *ngIf="employeeForm.controls">
        <!-- Full Name -->
        <mat-form-field appearance="fill">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="fullname" maxlength="50">
          <mat-error *ngIf="employeeForm.get('fullname').hasError('required')">Full
            Name is required</mat-error>
          <mat-error *ngIf="employeeForm.get('fullname').hasError('minlength')">Full Name must be at least 6
            characters</mat-error>
          <mat-error *ngIf="employeeForm.get('fullname').hasError('maxlength')">Full Name must not exceed 100
            characters</mat-error>
        </mat-form-field>
        <!-- Psuedo Name -->
        <mat-form-field appearance="fill">
          <mat-label>Psuedo Name</mat-label>
          <input matInput formControlName="pseudoname" maxlength="15">
          <mat-error *ngIf="employeeForm.get('pseudoname').hasError('required')">Psuedo
            Name is required</mat-error>
        </mat-form-field>
        <!-- Official Email -->
        <mat-form-field appearance="fill">
          <mat-label>Official Email</mat-label>
          <input matInput formControlName="email" maxlength="25">
          <mat-error *ngIf="employeeForm.get('email')!.hasError('required')">Email is
            required</mat-error>
          <mat-error *ngIf="employeeForm.get('email')!.hasError('email')">Invalid email
            address</mat-error>
        </mat-form-field>
        <!-- Personal Email -->
        <mat-form-field appearance="fill">
          <mat-label>Personal Email</mat-label>
          <input matInput formControlName="personalemail" maxlength="35">
          <mat-error *ngIf="employeeForm.get('personalemail').hasError('required')">Email
            is required</mat-error>
          <mat-error *ngIf="employeeForm.get('personalemail').hasError('email')">Invalid
            email address</mat-error>
        </mat-form-field>
        <!-- Personal Contact -->
        <mat-form-field appearance="fill">
          <mat-label>Personal Contact Number </mat-label>
          <!-- <input matInput formControlName="personalcontactnumber"> -->
          <ngx-mat-intl-tel-input class="intl-input" [preferredCountries]="['in','us']"
            formControlName="personalcontactnumber" [enablePlaceholder]="true" [enableSearch]="true"
            name="personalcontactnumber" id="intlInput" #personalcontactnumber #pNumb>
          </ngx-mat-intl-tel-input>
          <mat-error *ngIf="employeeForm.get('personalcontactnumber').hasError('required')">Personal
            Contact
            Number is required</mat-error>
        </mat-form-field>
        <!-- company contact -->
        <mat-form-field appearance="fill">
          <mat-label>Company Contact Number</mat-label>
          <!-- <input matInput formControlName="companycontactnumber"> -->
          <ngx-mat-intl-tel-input [preferredCountries]="['in','us']" class="intl-input"
            formControlName="companycontactnumber" [enablePlaceholder]="true" [enableSearch]="true"
            name="companycontactnumber" id="intlInputCompany" #companycontactnumber>
          </ngx-mat-intl-tel-input>
        </mat-form-field>
        <!-- Joining Date -->
        <mat-form-field appearance="fill">
          <mat-label>Joining Date</mat-label>

          <input matInput [matDatepicker]="datepicker" formControlName="joiningdate" placeholder="MM/DD/YYYY">

          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>

          </mat-datepicker>
          <mat-error *ngIf="employeeForm.controls.joiningdate.hasError('required')">Joining Date Required</mat-error>
        </mat-form-field>
        <!-- Releiving Date -->
        <mat-form-field appearance="fill">
          <mat-label>Releiving Date</mat-label>

          <input matInput [matDatepicker]="datepicker2" formControlName="relievingdate">

          <mat-datepicker-toggle matIconSuffix [for]="datepicker2"></mat-datepicker-toggle>
          <mat-datepicker #datepicker2>
          </mat-datepicker>
          <mat-error *ngIf="employeeForm.controls.relievingdate.hasError('relievingBeforeJoining')">Relieving date
            cannot be earlier than joining date.</mat-error>
        </mat-form-field>
        <!-- Aadhar -->
        <mat-form-field appearance="fill">
          <mat-label>Aadhar Number</mat-label>
          <input matInput formControlName="aadharno" maxlength="12" (keypress)="onlyNumberKey($event)">
          <mat-error *ngIf="employeeForm.get('aadharno').hasError('required')">Aadhar Number is required</mat-error>
          <mat-error *ngIf="employeeForm.get('aadharno').hasError('pattern')">Aadhar Number must be exactly 12
            digits</mat-error>
        </mat-form-field>
        <!-- PAN -->
        <mat-form-field appearance="fill">
          <mat-label>PAN Number</mat-label>
          <input matInput formControlName="panno" placeholder="Ex: ABCDE1234F" maxlength="10"
            (keypress)="onlyAlphanumericKey($event)">
          <mat-error *ngIf="employeeForm.get('panno').hasError('required')">PAN Number is required</mat-error>
          <mat-error *ngIf="employeeForm.get('panno').hasError('pattern')">Invalid PAN Number</mat-error>
        </mat-form-field>
      </div>
      <div class="form-column-right">
        <!-- BANK -->
        <mat-form-field appearance="fill">
          <mat-label>Bank Name</mat-label>
          <input matInput formControlName="bankname" maxlength="100">
          <mat-error *ngIf="employeeForm.get('bankname').hasError('required')">Bank Name is required</mat-error>
        </mat-form-field>
        <!-- AC NUMBER -->
        <mat-form-field appearance="fill">
          <mat-label>Account Number</mat-label>
          <input matInput formControlName="accno" maxlength="15" (keypress)="onlyNumberKey($event)">
          <mat-error *ngIf="employeeForm.get('accno').hasError('required')">Account Number is required</mat-error>
        </mat-form-field>
        <!-- IFSC -->
        <mat-form-field appearance="fill">
          <mat-label>IFSC Code</mat-label>
          <input matInput formControlName="ifsc" maxlength="11" (keypress)="onlyAlphanumericKey($event)">
          <mat-error *ngIf="employeeForm.get('ifsc').hasError('required')">IFSC Code is required</mat-error>
          <mat-error *ngIf="employeeForm.get('ifsc').hasError('pattern')">Invalid IFSC Code</mat-error>
        </mat-form-field>
        <!-- Branch -->
        <mat-form-field appearance="fill">
          <mat-label>Branch Name</mat-label>
          <input matInput formControlName="branch" maxlength="50">
          <mat-error *ngIf="employeeForm.get('branch').hasError('required')">Branch Name is required</mat-error>
        </mat-form-field>
        <!-- Designation -->
        <mat-form-field appearance="fill">
          <mat-label>Designation</mat-label>
          <input matInput formControlName="designation" maxlength="25">
        </mat-form-field>
        <!--Select Department -->
        <mat-form-field appearance="fill">
          <mat-label>Select Department</mat-label>
          <input matInput formControlName="department" [matAutocomplete]="departmentAuto">
          <mat-autocomplete #departmentAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredDepartmentOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="employeeForm.get('department').hasError('required')">Choose
            Deparment</mat-error>
        </mat-form-field>
        <!-- Select Role with MatAutoComplete-->
        <div formGroupName="role" class="select-role-field" *ngIf="false">
        <mat-form-field appearance="fill" >
          <mat-label>Select Role</mat-label>
          <input matInput formControlName="rolename" [matAutocomplete]="roleAuto">
          <mat-autocomplete #roleAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredRoleOptions | async" [value]="option.rolename">
              {{ option.rolename }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="employeeForm.get('role.rolename').hasError('required')">Role is
            Required</mat-error>
        </mat-form-field>
        </div>
        <!-- Select Role with MatSelect -->
        <div formGroupName="role" class="select-role-field">
          <mat-form-field appearance="fill">
            <mat-label>Select Role</mat-label>
            <mat-select name="role" formControlName="roleid">
              <mat-option *ngFor="let option of roleOptions" [value]="option.roleid">
                {{ option.rolename }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="employeeForm.get('role.roleid').hasError('required')">Role is
              Required</mat-error>
          </mat-form-field>
        </div>

        <!-- Manager with MatAutoComplete-->
        <mat-form-field *ngIf="false" appearance="fill">
          <mat-label>Select Manager</mat-label>
          <input matInput formControlName="manager" [matAutocomplete]="roleAuto">
          <mat-autocomplete #roleAuto="matAutocomplete">
            <mat-option *ngFor="let option of managerOptions" (onSelectionChange)="managerid(option[0])"
              [value]="option[0]">
              {{ option[1] }} {{option[2] ? ('- ' + option[2]) : ''}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="employeeForm.get('manager').hasError('required')">Manager
            is Required</mat-error>
        </mat-form-field>
        <!-- Manager with MatSelect-->
        <mat-form-field *ngIf="managerflg" appearance="fill">
          <mat-label>Select Manager</mat-label>
          <!-- <input matInput formControlName="manager" [matAutocomplete]="roleAuto" >
        <mat-autocomplete #roleAuto="matAutocomplete"> -->
          <mat-select formControlName="manager" (selectionChange)="managerid($event)">
            <mat-option *ngFor="let option of managerOptions" [value]="option[0]">
              {{ option[1] }} {{option[2] ? ('- ' + option[2]) : ''}}
            </mat-option>
          </mat-select>
          <!-- </mat-autocomplete> -->
          <mat-error *ngIf="employeeForm.get('manager').hasError('required')">Manager
            is Required
          </mat-error>
        </mat-form-field>
        <!-- Team Lead  -->
        <mat-form-field *ngIf="false" appearance="fill">
          <mat-label>Select Team Lead</mat-label>
          <input matInput formControlName="teamlead" [matAutocomplete]="roleAuto">
          <mat-autocomplete #roleAuto="matAutocomplete">
            <mat-option *ngFor="let option of teamLeadOptions" [value]="option[0]">
              {{ option[1] }} {{option[2] ? ('- ' + option[2]) : ''}}
            </mat-option>
          </mat-autocomplete>
          <!-- <mat-error *ngIf="employeeForm.get('teamlead')!.hasError('required')">Manager
            is Required</mat-error> -->
        </mat-form-field>
        <mat-form-field *ngIf="teamleadflg" appearance="fill">
          <mat-label>Select Team Lead</mat-label>
          <!-- <input matInput formControlName="teamlead"
          [matAutocomplete]="roleAuto">
        <mat-autocomplete #roleAuto="matAutocomplete"> -->
          <mat-select formControlName="teamlead">
            <mat-option *ngFor="let option of teamLeadOptions" [value]="option[0]">
              {{ option[1] }} {{option[2] ? ('- ' + option[2]) : ''}}
            </mat-option>
          </mat-select>
          <!-- </mat-autocomplete> -->
          <!-- <mat-error *ngIf="employeeForm.get('teamlead')!.hasError('required')">Manager
          is Required</mat-error> -->
        </mat-form-field>
        <!-- <mat-form-field *ngIf="employeeForm.get('role')!.value === 'Team Lead'"
          appearance="fill">
          <mat-label>Select Manager</mat-label>
          <input matInput formControlName="manager" [matAutocomplete]="roleAuto">
          <mat-autocomplete #roleAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredManagerOptions | async"
              [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="employeeForm.get('manager')!.hasError('required')">Manager
            is Required</mat-error>
        </mat-form-field> -->
      </div>
    </section>
    <!--form upload controls -->
    <section class="section-upload-documents">
      <div class="header-upload-documents">
        <span class="header-upload-text">Upload Documents</span>
      </div>

      <div class="upload-doc-cotainer">
        <div class="upload-doc-left">
          <!-- Resume Upload -->
          <mat-form-field class="upload">
            <mat-label for="resume">Resume</mat-label>
            <div class="upload-inp-container">
              <input matInput readonly name="resumeName" class="file-input"
                [value]="resumeupload ? resumeupload.name : 'No file chosen'" />
              <label for="resume" class="browse-button-label">
                <button type="button" mat-icon-button (click)="resume.click()"><mat-icon>upload_file</mat-icon></button>
              </label>
              <input type="file" #resume id="resume" (change)="uploadResume($event)" name="resumeUploadFile"
                accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                style="display: none;" />
            </div>
            <mat-hint *ngIf="resumeError" style="color: #f44336; font-size: 12px;">Resume size should be less than 2
              mb</mat-hint>
            <mat-hint *ngIf="resumeFileNameLength" style="color: #f44336; font-size: 12px;">File name too long, rename to
              15-20 characters before upload</mat-hint>
          </mat-form-field>


          <!-- Aadhar Upload -->
          <mat-form-field class="upload">
            <mat-label for="aadhar">Aadhar</mat-label>
            <div class="upload-inp-container">
              <input matInput readonly name="aadharName" class="file-input"
                [value]="aadharUpload ? aadharUpload.name : 'No file chosen'" />
              <label for="aadhar" class="browse-button-label">
                <button type="button" mat-icon-button (click)="aadhar.click()"><mat-icon>upload_file</mat-icon></button>
              </label>
              <input type="file" #aadhar id="aadhar" (change)="uploadAadhar($event)" name="aadharUploadFile"
                accept="image/*, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                style="display: none;" />
            </div>
            <mat-hint *ngIf="aadharError" style="color: #f44336; font-size: 12px;">Aadhar size should be less than 2
              mb</mat-hint>
            <mat-hint *ngIf="aadharFileNameLength" style="color: #f44336; font-size: 12px;">File name too long, rename to
              15-20 characters before upload</mat-hint>
          </mat-form-field>

          <!-- Pan Upload -->
          <mat-form-field class="upload">
            <mat-label for="pan">Pan</mat-label>
            <div class="upload-inp-container">
              <input matInput readonly name="pan" class="file-input"
                [value]="panUpload ? panUpload.name : 'No file chosen'" />
              <label for="pan" class="browse-button-label">
                <button type="button" mat-icon-button (click)="pan.click()"><mat-icon>upload_file</mat-icon></button>
              </label>
              <input type="file" #pan id="pan" (change)="uploadPan($event)" name="panUploadFile"
                accept="image/*, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                style="display: none;" />
            </div>
            <mat-hint *ngIf="panError" style="color: #f44336; font-size: 12px;">Pan size should be less than 2
              mb</mat-hint>
            <mat-hint *ngIf="panFileNameLength" style="color: #f44336; font-size: 12px;">File name too long, rename to
              15-20 characters before upload</mat-hint>
          </mat-form-field>
        </div>

        <div class="upload-doc-right">
          <!-- Bank Passbook Upload -->
          <mat-form-field class="upload">
            <mat-label for="bank">Bank Passbook</mat-label>
            <div class="upload-inp-container">
              <input matInput readonly name="bank" class="file-input"
                [value]="bankUpload ? bankUpload .name : 'No file chosen'" />
              <label for="bank" class="browse-button-label">
                <button type="button" mat-icon-button (click)="bank.click()"><mat-icon>upload_file</mat-icon></button>
              </label>
              <input type="file" #bank id="bankPassbookUploadFile" (change)="uploadBank($event)"
                name="bankPassbookUploadFile"
                accept="image/*, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                style="display: none;" />
            </div>
            <mat-hint *ngIf="bankError" style="color: #f44336; font-size: 12px;">Bank Passbook size should be less than 2
              mb</mat-hint>
            <mat-hint *ngIf="bankFileNameLength" style="color: #f44336; font-size: 12px;">File name too long, rename to
              15-20 characters before upload</mat-hint>
          </mat-form-field>

          <!-- Other Documents Upload -->
          <mat-form-field class="upload">
            <mat-label for="otherDocumentsUploadFile">Other Documents</mat-label>
            <div class="upload-inp-container">
              <input matInput multiple readonly name="otherDocumentsName" class="file-input" />
              <label for="otherDocumentsUploadFile" class="browse-button-label">
                <button type="button" mat-icon-button
                  (click)="multifiles.click()"><mat-icon>upload_file</mat-icon></button>
              </label>
              <input type="file" id="otherDocumentsUploadFile" (change)="onFileChange($event)" multiple #multifiles
                name="otherDocumentsUploadFile" multiple="multiple"
                accept="image/*, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                style="display: none;" />
            </div>
            <mat-hint *ngIf="multifilesError" style="color: #f44336; font-size: 12px;">Other Documents size should be less
              than 4 mb</mat-hint>
            <mat-hint *ngIf="multifilesFileNameLength" style="color: #f44336; font-size: 12px;">File name too long, rename
              to 15-20 characters before upload</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </section>
    <!-- list -->
    <section class="section-list-documents">
      <div class="header-upload-documents"  *ngIf="data.actionName === 'edit-employee'">
        <span class="header-upload-text">List Documents</span>
      </div>
      <div class="list-documents-table-container"   *ngIf="data.actionName === 'edit-employee'">
        <table class="documents-table">
          <tr class="tbl-header">
            <th class="tbl-header-name">Document Name</th>
            <th>Action</th>
          </tr>
          <tr>
            <td *ngIf="empObj.resume !==null "><a class="dowload-file-link" [style.cursor]="'pointer'"
                (click)="downloadfile(empObj.userid,empObj.resume,'resume')">{{empObj.resume}}</a>
            </td>
            <td *ngIf="empObj.resume !==null ">
              <button mat-icon-button class="action-button-ed" (click)="deletefile(empObj.userid,'resume')">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td *ngIf="empObj.pan !==null "><a class="dowload-file-link" [style.cursor]="'pointer'"
                (click)="downloadfile(empObj.userid,empObj.pan,'pan')">{{empObj.pan}}</a>
            </td>
            <td *ngIf="empObj.pan !==null ">
              <button mat-icon-button class="action-button-ed" (click)="deletefile(empObj.userid,'pan')">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>

          <tr>
            <td *ngIf="empObj.aadhar !==null "><a class="dowload-file-link" [style.cursor]="'pointer'"
                (click)="downloadfile(empObj.userid,empObj.aadhar,'aadhar')">{{empObj.aadhar}}</a>
            </td>
            <td *ngIf="empObj.aadhar !==null ">
              <button mat-icon-button class="action-button-ed" (click)="deletefile(empObj.userid,'aadhar')">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td *ngIf="empObj.bpassbook !==null "><a class="dowload-file-link" [style.cursor]="'pointer'"
                (click)="downloadfile(empObj.userid,empObj.bpassbook,'bpassbook')">{{empObj.bpassbook}}</a>
            </td>
            <td *ngIf="empObj.bpassbook !==null ">
              <button mat-icon-button class="action-button-ed" (click)="deletefile(empObj.userid,'bpassbook')">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>

          <tr *ngFor="let data of filesArr">
            <td><a class="dowload-file-link" [style.cursor]="'pointer'" (click)="filedetails(data)">{{data.filename}}</a></td>
            <td width="6%">
              <button mat-icon-button class="action-button-ed" (click)="deletemultiple(data.docid)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </table>
         <!-- <p class="no-data-sfound" *ngIf="!filesArr.length">{{'No documents data'}}</p> -->
      </div>
    </section>
  </form>
  <!-- form ends-->
  <!-- Bottom Action Buttons -->
  <div class="action-btns">
    <button class="btn-cancel" mat-raised-button color="white" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  </div>
</mat-card>
<!-- matcard ends-->
