<div class="receipt-container">
    <!-- <ul class="breadcrumb">
        <li><a (click)="navigateToDashboard()">Home</a></li>
        <li class="last">Receipt</li>
    </ul> -->
    <div class="header-container mat-elevation-z1">
        <span class="header-text">
            Receipts
        </span>

        <div class="receipt-actions">
            <!-- <button  matTooltip="Add" matTooltipPosition="left" mat-icon-button class="add-receipt" (click)="addReceipt()">
                <mat-icon class="item-icon">add_circle</mat-icon>
            </button> -->

            <div class="search-receipt">
                <input matInput type="text" class="search" placeholder="search receipt" (keyup)="applyFilter($event)">
            </div>
        </div>
    </div>
</div>