.banter-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 68px);
}

ul {
  padding-inline-start: 10px;
  background-color: rgb(228, 231, 234);
  padding-top: 2px;
  top: 0;
}
.badge {
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
}
table tr th,
table tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #bbb;
}
table tr th {
  background: #d5e7e7;
  border-top: 1px solid #bbb;
  text-align: left;
}

table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
.show {
  display: none;
}
table {
  font-size: 80%;
  user-select: none;
}
table th {
  font-weight: 500;
}

a {
  cursor: pointer;
}
@media print {
  table {
    font-size: 20px;
  }
  form {
    display: none;
  }
  .show {
    display: block;
  }
  .kiran {
    display: none;
  }
}
.modal-xl {
  max-width: 90% !important;
}

.narvee {
  text-align: right;
  font-weight: bold;
}
.sticky {
  position: sticky;
  top: 0;
}
.total {
  color: red;
}
.lesthan {
  --bs-table-bg: none;
  color: white;
  background-color: rgb(196, 136, 136) !important;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
  cursor: pointer;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.example-form-field {
  margin-right: 20px;
}

.mat-mdc-raised-button:not(:disabled) {
  color: var(--mdc-protected-button-label-text-color, inherit);
  margin-left: 3rem;
}
.container {
  display: flex;
  flex-direction: column;
  height: 86vh;
}

ul {
  padding-inline-start: 10px;
  background-color: rgb(228, 231, 234);
  height: 2rem;
  padding-top: 8px;
  top: 0;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
  cursor: pointer;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.table-wrapper {
  flex: 1;
  max-height: calc(100% - 45px);
  overflow-y: auto;
  overflow-x: hidden;
}

.mat-mdc-header-row {
  background-color: rgb(213, 231, 231);
  position: sticky;
  top: 0;
}
thead {
  position: sticky;
  top: 0;
}
tbody {
  text-align: left;
}
.mat-sort-header-arrow {
  color: #1a1717;
}
.mat-mdc-row {
  height: 48px !important;
}
.mat-mdc-column {
  border-right: 1px solid currentColor;
}
.mat-column-Designation {
  width: 32px;
  border-right: 1px solid lightgray;
  padding-right: 24px;
}
.mat-column-Name {
  border-right: 1px solid lightgray;
  width: fit-content;
}

td:nth-child(2) {
  .user-info {
    cursor: pointer;
    margin-bottom: 2px;
    color: #0275d8;
  }
  span {
    display: flex;
    flex-direction: column;
  }
}

.mat-column-SerialNum,
.mat-column-BanterNo,
.mat-column-EmployeeName,
.mat-column-PsuedoName,
.mat-column-Department,
.mat-column-DailedCalls,
.mat-column-DailedInMinutes,
.mat-column-AnsweredCalls,
.mat-column-AnsweredInMinutes,
.mat-column-MissedCalls,
.mat-column-TotalMinutes,
.mat-column-Percentage {
  border-right: 1px solid lightgray;
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: white;
  top: 0;
  overflow: hidden;
  margin: 4px;
  background-color: rgb(228, 231, 234);
}
.header-text {
  padding-left: 8px;
  font-weight: 600;
}
.add-user {
  cursor: pointer;
}
.emp-actions {
  display: flex;
  align-items: center;
  input:focus {
    border: solid 2px #3f51b5 !important;
    outline: none;
  }
  .search {
    height: 32px;
    padding: 0px 8px;
  }
}

.table-style {
  width: 100%;
  max-height: calc(100% - 52px);
  padding: 0 2px;
  overflow: auto;
  display: block;
}

.action-btns {
  display: flex;
  flex-direction: row;
}
.mat-mdc-header-row {
  z-index: 1000;
}

.no-data-found {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 64px;
}

.mat-paginator {
  margin-top: 16px;
}

.responsive-table {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .responsive-table {
    table-layout: auto;
  }
  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: 0px 2px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  ve .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: 0px 2px;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 82vh;
  }
}

.action-buttons {
  display: flex;
  align-items: center;
  height: 43px;
}

.action-buttons button {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}

::ng-deep .action-button-ed .mat-mdc-button-touch-target {
  width: 30px !important;
  height: 30px !important;
}

::ng-deep .action-button-ed .mat-mdc-focus-indicator {
  width: 30px !important;
  height: 30px !important;
  top: 10px;
}

.mat-mdc-header-row {
  height: 30px !important;
}

.mat-mdc-row {
  height: 30px !important;
}

ul.breadcrumb li:last-child {
  color: black;
  pointer-events: none;
}

@media screen and (min-width: 1440px) {
  .table-style {
    width: 100%;
    height: calc(100% - 0px);
    overflow: auto;
  }
}
.header-container {
  z-index: 99999;
}

.count {
  color: #4154f1;
  font-weight: bold;
  cursor: pointer;
}

.banter-inner-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 0px);
}

.banter-table {
  height: calc(100% - 110px);
}

.banter-table mat-card {
  height: 100%;
}

.banter-table mat-card-content {
  height: 100%;
}

.paginator {
  position: sticky;
  bottom: 0;
  background: white;
  z-index: 100;
  padding: 10px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}
.vendor-table-style {
  max-height: 78vh ; /* Or any height you want */
  overflow: auto;
}