.container {
  display: flex;
  flex-direction: column;
  height: 86vh;
}

.table-wrapper{
  overflow: auto;
  padding: 4px;
}
table {
  width: 100%;
}
.mat-mdc-header-row  {
  background-color: rgb(213, 231, 231);
  position: sticky; top: 0;
}
thead {
  position: sticky; top: 0;
}
.mat-sort-header-arrow {
  color: #1a1717;
}
// .mat-mdc-row  {
//   height: 48px !important;
// }
.mat-mdc-column {
  border-right: 1px solid currentColor;
}

.mat-column-RoleName{
  width: 95%;
  border-right: 1px solid lightgray;
  padding-right: 24px;

}
.mat-column-Actions{
  width: max-content;

}


.role-header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 48px;

  background-color: white;
  position: sticky;
  z-index: 99999;
  top: 0;
  overflow: hidden;
  margin: 4px
}
.header-text{
 padding-left: 8px;
 font-weight: 600 ;
}
.add-user{
  cursor: pointer;
}
.role-actions{
  display: flex;
  align-items: center;

  .search{
    height: 32px;
    padding: 0px 8px;
  }
}
.no-data-found{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 64px;
}

.action-buttons {
  display: flex;
  align-items: center;
  width: 100%;
}

.action-buttons button {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}

::ng-deep .action-button-ed .mat-mdc-button-touch-target {
  width: 30px !important;
  height: 30px !important;
}

::ng-deep .action-button-ed .mat-mdc-focus-indicator {
  width: 30px !important;
  height: 30px !important;
  top: 10px;
}

.mat-mdc-header-row {
  height: 30px !important;
}

.mat-mdc-row {
  height: 30px !important;
}

ul{
  padding-inline-start: 10px;
  background-color: rgb(228, 231, 234);
  height: 2rem;
  padding-top: 8PX;
  top: 0;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
  cursor: pointer;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.privileges{
  cursor: pointer !important;
}

.mat-mdc-header-row {
  z-index: 1000;
}