<div class="hot-list-container">
    <!-- <ul class="breadcrumb">
        <li><a (click)="navigateToDashboard()">Home</a></li>
        <li class="last">Portal Requirements</li>
    </ul> -->
    <div class="header-container mat-elevation-z1">
        <span class="header-text">
            Portal Requirements
        </span>
        <div>
            <mat-form-field class="portal-form-field">
                <mat-label>Select a Portal</mat-label>
                <mat-select (selectionChange)="onSelectionChange($event)">
                    <mat-option *ngFor="let option of currentOptions" [value]="option.value">
                        {{ option.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="hot-list-actions">
            <div class="search-hot-list">
                <input matInput type="text" class="search" placeholder="search " (keyup)="applyFilter($event)">
            </div>
        </div>
    </div>

    <div id="table-container" class="table-wrapper">

        <mat-tab-group (selectedTabChange)="onTabChanged($event)" mat-stretch-tabs="false" mat-align-tabs="start" color="primary" backgroundColor="primary">
            <mat-tab *ngFor="let tab of tabs" [label]="tab">
              <ng-container *ngTemplateOutlet="tableTemplate; context: { status: tab }"></ng-container>
            </mat-tab>
          </mat-tab-group>

          <ng-template #tableTemplate>
            <section class="mat-elevation-z8 hot-list-table-style">
                <table mat-table [dataSource]="dataSource" oncopy="return false">
    
                    <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
    
                    <!-- SNo Column mat-sort-header sortActionDescription="Sort by Serial Number"-->
                    <ng-container matColumnDef="SerialNum">
                        <th mat-header-cell *matHeaderCellDef style="width: 1%">
                            S.No </th>
                        <td mat-cell *matCellDef="let element" style="width: 1%"> {{element?.serialNum}}</td>
                    </ng-container>
    
                    <!-- Name Column mat-sort-header sortActionDescription="Sort by Name"-->
                    <ng-container matColumnDef="posted_on">
                        <th mat-header-cell *matHeaderCellDef
                            style="width: 2%">Posted On</th>
                        <td mat-cell *matCellDef="let element" nowrap style="width: 2%"> 
                            {{ isValidDate(element?.posted_on) ? (element?.posted_on | date:'MM-dd-yyyy HH:mm') : 'N/A' }} 
                        </td>
                    </ng-container>
    
                    <!-- Technology Column mat-sort-header sortActionDescription="Sort by Technology"-->
                    <ng-container matColumnDef="job_title">
                        <th mat-header-cell *matHeaderCellDef
                            style="width: 20%">
                            Title </th>
                        <td mat-cell *matCellDef="let element" style="width: 20%"><span class="consultant-name"><a
                                    href="{{element?.job_source}}" target="_blank" (click)="empTag(element.id)"
                                    >{{element?.job_title | titlecase}}</a>
                            </span> </td>
                    </ng-container>
    
                    <!-- Visa Column mat-sort-header sortActionDescription="Sort by Visa" -->
                    <!-- <ng-container matColumnDef="category_skill">
                        <th mat-header-cell *matHeaderCellDef style="width: 13%">
                            Category </th>
                        <td mat-cell *matCellDef="let element"style="width: 13%">
                            {{ element?.category_skill | titlecase }} </td>
                    </ng-container> -->
    
                    <!-- Experience Column  sortActionDescription="Sort by Experience"-->
                    <ng-container matColumnDef="employment_type">
                        <th mat-header-cell *matHeaderCellDef style="width: 3%"> Emp Type </th>
                        <td mat-cell *matCellDef="let element" style="width: 3%">{{element?.employment_type | titlecase}} </td>
                    </ng-container>

                    <!-- Experience Column sortActionDescription="Sort by Experience"-->
                    <ng-container matColumnDef="job_location">
                        <th mat-header-cell *matHeaderCellDef style="width: 10%"> Location </th>
                        <td mat-cell *matCellDef="let element"style="width: 10%">{{element?.job_location | titlecase}} </td>
                    </ng-container>
    
                    <!-- Rate Column mat-sort-header sortActionDescription="Sort by Rate"-->
                    <ng-container matColumnDef="vendor">
                        <th mat-header-cell *matHeaderCellDef style="width: 12%">
                            Vendor</th>
                            <td mat-cell *matCellDef="let element" class="req-info" (click)="goToReqInfo(element)" style="width: 12%"> {{element?.vendor | titlecase}}
                            </td>
                    </ng-container>
    
                    <!-- Body Column sortActionDescription="Sort by JobDescription"-->
                    <ng-container matColumnDef="JobDescription">
                        <th mat-header-cell *matHeaderCellDef style=" width: 3% "> Job Description </th>
                        <td mat-cell *matCellDef="let element" class="jd-info" (click)="goToJobDescription(element)"  style=" width: 3% ">VIEW </td>
                    </ng-container>

                    <ng-container matColumnDef="Matching">
                        <th mat-header-cell *matHeaderCellDef style=" width: 3% "> Matching </th>
                        <td mat-cell *matCellDef="let element">
                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                        </td>
                    </ng-container>
    
                    <!-- Source Column mat-sort-header sortActionDescription="Sort by Source"-->
                    <ng-container matColumnDef="source">
                        <th mat-header-cell *matHeaderCellDef
                            style="width: 3%">Source</th>
                        <td mat-cell *matCellDef="let element" nowrap style="width: 3%"> {{ element?.source | titlecase}} </td>
                    </ng-container>
    
                    <!-- table ROW -->
                    <tr mat-header-row *matHeaderRowDef="dataTableColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: dataTableColumns;" [ngStyle]="getRowStyles(row)"></tr>
                </table>
                <p class="no-data-found" *ngIf="!dataSource.data.length">{{'No matching data found'}}</p>
            </section>
            <hr>
          </ng-template>

    </div>

    <div class="paginator" *ngIf="dataSource.filteredData.length">
        <!-- paginator -->
        <mat-paginator (page)="handlePageEvent($event)" [length]="totalItems" [pageSize]="pageSize" [disabled]="false"
            [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
            [hidePageSize]="true" [pageIndex]="currentPageIndex" aria-label="Select page">
        </mat-paginator>
    </div>

</div>