<div class="container">
    <ul class="breadcrumb">
      <li><a (click)="navigateToDashboard()">Home</a></li>
      <li class="last">Tech & Support</li>
    </ul>
  
    <div class="header-container mat-elevation-z1">
      <span class="header-text">
        Tech & Support
      </span>
      <div class="emp-actions">
        <button [disabled]="!privilegeServ.hasPrivilege('ADD_TECH_SUPPORT')" mat-icon-button disableRipple
          class="add-user" (click)="addTechnology()" matTooltip="Add Tech Support" matTooltipPosition="left">
          <mat-icon [ngClass]="{'item-icon': privilegeServ.hasPrivilege('ADD_TECH_SUPPORT')}">add_circle</mat-icon>
        </button>
  
        <div class="search-employee">
  
          <input matInput type="search" class="search" placeholder="search " (keyup)="onFilter($event)">
        </div>
      </div>
    </div>
  
    <div id="table-container" class="table-wrapper">
      <section class="table-style mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)" class="responsive-table">
  
  
          <!-- serial Number Column mat-sort-header-->
          <ng-container matColumnDef="SerialNum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Serial Number"> S.No </th>
            <td mat-cell *matCellDef="let element"> {{element?.serialNum}} </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef  sortActionDescription="Sort by Name"> Name </th>
            <td mat-cell *matCellDef="let element">
              <span class="user-info" (click)="goToUserInfo(element.userid)">
                {{element.name | titlecase}}
              </span>
              <ng-container *ngIf="element.locked; then updateStatTemplate else elseTemplate"></ng-container>
              <ng-template #updateStatTemplate>
                <span [style.cursor]="'pointer'" (click)="onStatusUpdate(element)">{{element.pseudoname | titlecase}}
                </span>
              </ng-template>
              <ng-template #elseTemplate>
                {{element.pseudoname | titlecase}}
              </ng-template>
  
            </td>
          </ng-container>
  
          <!-- Email Column -->
          <ng-container matColumnDef="Experience">
            <th mat-header-cell *matHeaderCellDef  sortActionDescription="Sort by Experience"> Exp
            </th>
            <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
          </ng-container>
  
          <!-- Personal/Comp Number Column -->
          <ng-container matColumnDef="Technology">
            <th mat-header-cell *matHeaderCellDef  sortActionDescription="Sort by Technology">
              Technology </th>
            <td mat-cell *matCellDef="let element"> {{element.technology|titlecase}} </td>
          </ng-container>
  
          <!-- Designation Column -->
          <ng-container matColumnDef="Skills">
            <th mat-header-cell *matHeaderCellDef  sortActionDescription="Sort by Skills" style="width: 35%;">Skills
            </th>
            <td mat-cell *matCellDef="let element"  style="width: 35%;"> 
              <div class="truncate-multiline" [matTooltip]="element.skills | titlecase" matTooltipClass="custom-tooltip">{{element.skills | titlecase}}</div>
            </td>
          </ng-container>
  
          <!-- Department Column -->
          <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by Department"> Email
            </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
  
          <ng-container matColumnDef="ContactNumber">
            <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by ContactNumber">
              ContactNumber </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.mobile != null">{{element.mobile}}</span>
              <br>
              <span *ngIf="element.secmobile != null">{{element.secmobile}}</span>
            </td>
          </ng-container>
  
          <!-- Action Column -->
          <ng-container matColumnDef="Action" #actionButtons>
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let emp" class="action-buttons">
              <span class="action-btns">
                <button [disabled]="!privilegeServ.hasPrivilege('EDIT_TECH_SUPPORT')" mat-icon-button (click)="edit(emp)"
                  class="action-button-ed">
                  <mat-icon>edit</mat-icon>
                </button>
                <button [disabled]="!privilegeServ.hasPrivilege('DELETE_TECH_SUPPORT')" mat-icon-button
                  (click)="deleteEntity(emp)" class="action-button-ed">
                  <mat-icon
                    [ngClass]="{'delete-icon': privilegeServ.hasPrivilege('DELETE_TECH_SUPPORT')}">delete</mat-icon>
                </button>
              </span>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="dataTableColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: dataTableColumns;"></tr>
        </table>
        <p class="no-data-found" *ngIf="!dataSource.filteredData.length">{{'No matching data found'}}</p>
      </section>
      <hr>
    </div>

    <div class="paginator">
      <!-- paginator -->
      <mat-paginator (page)="handlePageEvent($event)" [length]="totalItems" [pageSize]="pageSize" [disabled]="false"
        [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
        [hidePageSize]="hidePageSize" [pageIndex]="currentPageIndex" aria-label="Select page">
      </mat-paginator>
    </div>
  
  </div>