<div class="dialog-container">

    <!-- Header -->
    <div class="header">
        <h2 mat-dialog-title>Emails to Un-block</h2>
        <button mat-icon-button (click)="onAction('SAFE_CLOSE')">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <!-- Content -->
    <div class="content" mat-dialog-content>
        <div class="attachments-table">
            <table>
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Emails</th>
                        <th>BlockedBy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let attachment of attachments">
                        <td style="width: 10px;">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="toggleSelection(attachment.blokedDomainId, $event.checked)"
                                [checked]="selectedAttachments.includes(attachment.blokedDomainId)">
                            </mat-checkbox>
                        </td>
                        <td style="max-width: 150px;" class="wrap-text">{{ attachment.email }}</td>
                        <td class="wrap-text">{{ attachment.blokedByuser }}</td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="attachments?.length === 0" class="no-data">No Emails found to unblock</p>
        </div>
    </div>

    <!-- Actions -->
    <div class="actions" mat-dialog-actions [hidden]="attachments.length === 0">
        <button style="justify-items: center;" [hidden]="attachments.length === 0" mat-raised-button mat-dialog-close (click)="unblockEmails(selectedAttachments)">Un-Block</button>
    </div>

</div>
