.breadcrumb{
  display: flex;
  flex-direction: row;
}
ul{
  padding-inline-start: 10px;
  background-color: rgb(228, 231, 234);
  height: 2rem;
  padding-top: 8px;
  top: 0;
}
ul.breadcrumb {
  list-style: none;
}
ul.breadcrumb li+li:before {
  color: black;
 // content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
  cursor: pointer;
}
ul.breadcrumb li:last-child {
  color: black;
  pointer-events: none;
}


.cards-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;


}
// .info-card, .activity-card{
//   width: 50%;
//   height: 75svh;

// }
.info-card-header, .activity-card-header{
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px !important;
}

.info-card-header-text{
  font-weight: 400;
  font-size: large;
}


table {
  margin: auto;
  width: 96%;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-collapse: collapse;
}

td:first-child{
  font-weight: 600;
}

th,
td {
  border: 1px solid #a5a4a4;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  font-weight: 600 !important;
}
.table-header-text{
  font-weight: bold;
}

.approved {
  color: #39c22d;
  font-size: 12px;
}

.rejected {
  color: #FF0000;
  font-size: 12px;
}

.added {
  color:#29abd3;
  font-size: 12px;
}

.submssion{
  color:#db1aab;
  font-size: 12px;
}
::ng-deep .mat-step-icon-content {
   display: none !important;
   width: 10%;
  }

  ::ng-deep .mat-vertical-stepper-content
{
    visibility: visible !important;
    height: 100% !important;
}

::ng-deep .mat-step-text-label{
  font-weight: 100 !important;
  color: rgb(148, 143, 143);
}

::ng-deep  .mat-step-header{
  padding-top:12px !important;
  padding-bottom: 12px !important;
}

::ng-deep .mat-step-icon {

  height: 13px !important;
  width: 13px !important;

}

::ng-deep .mat-vertical-content-container {
  margin-left: 29px !important;
}

::ng-deep .mat-stepper-vertical-line::before {
  border-left-width: 3px !important;
}


.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0px 10px;
  background-color: white;
  top: 0;
  overflow: hidden;
  margin: 4px;
  background-color: rgb(228, 231, 234);
}

.header-text {
  padding-left: 8px;
  font-weight: 600;
}

.header-container-leading-resources {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0px;
  z-index: 99999;
  top: 0;
  overflow: hidden;
  background-color: white;
}

.overall-container {
  height: 100vh;
  overflow: auto;
  padding: 10px 10px 0 10px;
  background-color: rgb(228, 231, 234);
}

.container {
  display: flex;
  height: auto;
  justify-content: space-between;
}

.container .left-div {
  width: 49%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.container .right-div {
  width: 49%;
  // overflow: auto;
}

.left-div  {
  display: flex;
}



.table-container {
  padding-top: 10px;
  flex: 1;
}

.table-style {
  width: 100%;
  overflow: auto;
  height: 100vh;
  display: block;
  background-color: white;
}

.mat-mdc-header-row {
  height: 30px !important;
  background-color: rgb(147, 204, 204);
}

.mat-mdc-row {
  height: 30px !important;
}

.no-data-found{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 64px;
}

.mat-column-Name,
.mat-column-Category,
.mat-column-Address,
.mat-column-Email,
.mat-column-ContactNumber,
.mat-column-Owner,
.mat-column-Track,
.mat-column-PostedDate,
.mat-column-JobTitle,
.mat-column-JobLocation,
.mat-column-Vendor,
.mat-column-TaggedDate,
.mat-column-TaggedBy {
  border-right: 1px solid lightgray !important;
}



.mat-mdc-card-title, .mat-mdc-card-subtitle {
  font-size: 14px;
  margin: 0;
  font-weight: 700;
}

mat-typography p {
  margin: 0px;
}

.dashboard {
  font-size: .875em;
  font-weight: 700!important;
  margin-bottom: 0px !important;
}

.track-button {
  width: fit-content !important;
  padding: 0px !important;
  height: auto !important;
  background-color: green !important;
  color: white !important;
}


.mat-mdc-card.activity-card {
  height: 678px;
  padding: 15px;
  overflow-y: auto;
}

a {
  color: #0d6efd;
  text-decoration: none;
}

a .name {
  font-size: 14px;
  font-weight: bolder;
  color: #717ff5;
}

.activity {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  justify-content: space-between;
}

.activity .activity-content{
  width: 79%;
}

.activity .time{
  margin: 0px auto;
  width: 19%;
}

.approved {
  color: #39c22d;
  font-size: 12px;
}

.rejected {
  color: #FF0000;
  font-size: 12px;
}

.added {
  color:#29abd3;
  font-size: 12px;
}

.submssion{
  color:#db1aab;
  font-size: 12px;
}

.pointer{
  cursor: pointer;
}

b {
  font-weight: bold;
}

.bold-text {
  font-weight: bold;
}

.mat-mdc-card-content {
  padding: 0px 0px 16px 0px;
}

.consultant-id{
  cursor: pointer;
  color:#0275d8
}

.consultant-actions{
  display: flex;
  align-items: center;
}