<div class="profile">
    <div class="item1">
        <div style="display: flex; justify-content: right;">
            <button mat-icon-button (click)="editConsultant(profiledata)">
                <mat-icon>edit</mat-icon>
              </button>
        </div>
        <div>
            <img src="assets/images/file.png" alt="profile avatar" width="150px" height="150px">
        </div>
        <div class="profile-name">
            {{ profiledata?.consultantname }}
        </div>
        <div class="job-title">
            {{ profiledata?.position }}
        </div>
        
        <div class="skills">
            <h3 style="text-align: left; font-weight: bold;">Skills</h3>
            <p>{{ profiledata?.skills }}</p>
        </div>
    </div>
    <div class="item2" style="text-align: left;">
        <div style="display: flex; align-items: center;">
            <div>
                <span style="font-weight: bold; align-items: center;">Basic Details</span>
            </div>
            <div>
                <button mat-icon-button (click)="editDetails(profiledata, 'Basic Details', 'Basic')">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
            
        <div style="display: flex; width: 100; align-items: center; justify-content: space-between;" class="basic">
            <div>
                <p style="color: grey">Email</p>
                <p style="font-weight: bold;">{{ profiledata?.consultantemail ? profiledata?.consultantemail : '-' }}</p>
            </div>

            <div>
                <p style="color: grey">Contact Number</p>
                <p style="font-weight: bold;">{{ profiledata?.contactnumber ? profiledata?.contactnumber : '-' }}</p>
            </div>
            <div>
                <p style="color: grey">Location</p>
                <p style="font-weight: bold;"> {{ profiledata?.currentlocation ? profiledata?.currentlocation : '-' }}</p>
            </div>

        </div>
    </div>
    <div class="item3" style="text-align: left;">
        <div style="display: flex; align-items: center;">
            <div>
                <span style="font-weight: bold; align-items: center;">Work Experience</span>
            </div>
            <div>
                <button mat-icon-button (click)="editDetails(profiledata, 'Work Experience','Work')">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>

        <div style="display: flex; width: 100; align-items: center; justify-content: space-between;" class="work">
            <div>
                <p style="color: grey">Experience (In Years)</p>
                <p style="font-weight: bold;">{{ profiledata?.experience ? profiledata?.experience : '-' }}</p>
            </div>

            <div>
                <p style="color: grey">Preferred Location</p>
                <p style="font-weight: bold;">{{ profiledata?.relocation ? profiledata?.relocation : '-' }}</p>
            </div>
            <div>
                <!-- <p style="color: grey">Location</p>
                <p>Karampudi, Macharla, Guntur</p> -->
            </div>

        </div>
    </div>
    <div class="item4" style="text-align: left;">

        <div style="display: flex; align-items: center;">
            <div>
                <span style="font-weight: bold; align-items: center;">Education Qualifications</span>
            </div>
            <div>
                <button mat-icon-button (click)="editDetails(profiledata, 'Education Qualifications', 'Education')">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>

        <div style="display: flex; width: 100; align-items: center; justify-content: space-between;" class="qualifiactions">
            <div>
                <p style="color: grey">Degree</p>
                <p style="font-weight: bold;">{{ profiledata?.qualification ? profiledata?.qualification : '-' }}</p>
            </div>

            <div>
                <p style="color: grey">University</p>
                <p style="font-weight: bold;">{{ profiledata?.university ? profiledata?.university : '-' }}</p>
            </div>
            <div>
                <p style="color: grey">Year of Passing</p>
                <p style="font-weight: bold;">{{ profiledata?.yop ? profiledata?.yop : '-' }}</p>
            </div>

        </div>
    </div>
</div>