<div class="header-container mat-elevation-z1">
    <span class="header-text" mat-dialog-title>
        {{data.title}}
    </span>
    <button mat-icon-button (click)="onCancel()" class="close-btn">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-card class="card">
    <form [formGroup]="taskForm" class="task-form">
        <section class="form-container">
            <!-- Client -->
            <mat-form-field appearance="outline" class="first-field">
                <mat-label>Task Name</mat-label>
                <input matInput formControlName="taskname" maxlength="120">
                <mat-error *ngIf="taskForm.get('taskname')!.hasError('required')"> Task Name is
                    required</mat-error>
            </mat-form-field>

            <!-- Job Description -->
            <mat-form-field class="description-field" appearance="outline">
                <mat-label>Task Description</mat-label>
                <textarea formControlName="description" matInput rows="4" maxlength="10000"></textarea>
                <mat-error *ngIf="taskForm.get('description')!.hasError('required')"> Task Description is
                    required</mat-error>
            </mat-form-field>

            <!-- Department -->
            <!-- <mat-form-field appearance="outline" class="category-field">
                    <mat-label>Select Department</mat-label>
                    <mat-select name="department" formControlName="department" >
                      <mat-option *ngFor="let option of deptOptions" [value]="option.name">
                        {{ option.name }}
                      </mat-option>
                    </mat-select>
                      <mat-error *ngIf="taskForm.get('department')!.hasError('required')"> Department is required</mat-error>
                </mat-form-field> -->

            <!-- Target Date -->
            <mat-form-field appearance="outline">
                <mat-label>Target Date</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName="targetdate" placeholder="DD-MM-YYYY">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
                <mat-error *ngIf="taskForm.get('targetdate')!.hasError('required')"> Target Date is
                    required</mat-error>
            </mat-form-field>

            <!-- Assigned To -->
            <div *ngIf="taskForm.get('assignedto')" style="width: calc(100% - 24px);">
                <ng-multiselect-dropdown [placeholder]="'Assigned To *'" [settings]="dropdownSettings"
                    [data]="employeeData" [formControl]="assignedToControl">
                </ng-multiselect-dropdown>
                <mat-error
                    *ngIf="taskForm.get('assignedto')!.hasError('required') && taskForm.get('assignedto')!.touched">
                    Assigned To is required
                </mat-error>
            </div>
        </section>
    </form>
    <div class="form-action-buttons">
        <button mat-raised-button color="white" (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="isFormSubmitted" (click)="onSubmit()">Submit</button>
    </div>
</mat-card>