<div class="dialog-container">

    <!-- Header -->
    <div class="header">
        <h2 mat-dialog-title>Share Files To</h2>

        <!-- <div class="search-hot-list">
            <input matInput type="text" class="search" placeholder="search">
            (keyup)="applyFilter($event)"
        </div> -->
        <div class="search-hot-list">
            <input 
              matInput 
              type="text" 
              class="search" 
              placeholder="Search by email" 
              [(ngModel)]="searchTerm" 
              (keyup)="applyFilter()"
            >
          </div>
          

        <button mat-icon-button (click)="onAction('SAFE_CLOSE')">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <!-- Content -->
    <div class="content" mat-dialog-content>
        <div class="attachments-table">
            <table>
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Emails</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let attachment of filteredAttachments">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="toggleSelection(attachment.blokedDomainId, $event.checked, attachment.email)"
                                [checked]="selectedAttachments.includes(attachment.blokedDomainId)">
                            </mat-checkbox>
                        </td>
                        <td>{{ attachment.email }}</td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="attachments?.length === 0" class="no-data">No Emails found to share</p>
        </div>
    </div>

    <!-- Actions -->
    <div class="actions" mat-dialog-actions [hidden]="attachments.length === 0">
        <button style="justify-items: center;" [hidden]="attachments.length === 0" mat-raised-button mat-dialog-close (click)="unblockEmails(selectedAttachments)">Share</button>
    </div>

</div>
