.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: rgb(228, 231, 234);
  z-index: 99999;
  top: 0;
  overflow: hidden;
}

.close-btn {
  overflow: hidden !important;
}

.header-text {
  padding-left: 8px;
  font-weight: 600;
  font-size: larger;
}

.card {
  margin: 0 auto;
  padding: 16px;
  height: max-content;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.card-content {
  padding: 8px !important;
}
.task-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.task-description {
  font-size: 1rem;
  margin-bottom: 16px;
  white-space: pre-wrap;
}

.task-details {
  margin-bottom: 16px;
}

.detail {
  margin-bottom: 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

mat-divider {
  margin: 16px 0;
}
