<section class="header-container" id="mainHeader">
  <div style="display: flex;">
      <span class="header-text" mat-dialog-title id="mainHeaderTitle">
      {{data.title}}
   
    </span>
         <button mat-icon-button color="primary" style="margin: 3px;" (click)="openEmailClient()" aria-label="Email">
  <mat-icon>email</mat-icon>
</button>
  </div>
  
    <button mat-icon-button (click)="dialogRef.close()" class="btn-close" id="btnClose">
      <mat-icon>close</mat-icon>
    </button>
  </section>
  <mat-card class="card mat-elevation-z8">
    <mat-card-content class="card-content">
      <div class="info-container">
        <div class="info-item">
          <span class="static-label">Job Description :</span>
          <span class="dynamic-value" [innerHTML]="jobDescriptionWithLineBreaks"></span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>