/**** POP-UP HEADER - STARTS ****/
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: whitesmoke;
  z-index: 99999;
  top: 0;
  overflow: hidden;
}

.close-btn {
  overflow: hidden !important;
}

.header-text {
  padding-left: 1.3rem;
  font-weight: 600;
  font-size: larger;
}

.card {
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

table {
  width: 100%;
}

.mat-mdc-header-row {
  background-color: rgb(213, 231, 231);
  position: sticky;
  top: 0;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 4px 0 4px;
}

.static-label {
  font-weight: bold;
}

.dynamic-value {
  display: flex;
  height: 75vh;
  overflow: auto;
}