<div class="task-container">
    <div class="header-container mat-elevation-z1">
        <span class="header-text">
            <a class="project-text" [routerLink]="['/task-management/projects']"
                matTooltip="Back to Projects">Projects</a>
            / {{ this.projectId }} / Tasks
        </span>

        <div class="task-actions">
            <button mat-raised-button color="primary" class="add-task" (click)="addTask()">
                Add Task
            </button>

            <div class="search-task">
                <input matInput type="text" class="search" placeholder="search tasks"  (keyup)="applyFilter($event)"/>
            </div>
        </div>
    </div>
    <div id="table-container" class="table-wrapper">
        <div cdkDropListGroup>
            <div class="flex-container">
                <div cdkDropList [cdkDropListData]="backlog" class="example-list" (cdkDropListDropped)="drop($event)">
                    <h5 class="item-heading heading-backlog">Backlogs ({{ backlog.length }})</h5>
                    <div class="card-container">
                        <mat-card class="card" *ngFor="let card of backlog" cdkDrag>
                            <mat-card-header>
                                <mat-card-title (click)="openSubTasks(card)" style="cursor: pointer; font-weight: 600; color: #0000ee;" 
                                class="truncate-multiline"
                                matTooltip="{{ card.taskName | titlecase }}" 
                                matTooltipPosition="above">{{ card.taskName | titlecase }}</mat-card-title>
                                <div class="card-actions">
                                    <mat-icon matTooltip="Edit Task" (click)="editTask(card)" class="edit-icon">edit</mat-icon>
                                    <mat-icon matTooltip="Delete Task" (click)="deleteTask(card.taskid)" class="delete-icon">delete</mat-icon>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="labels-container">
                                    <span class="ticket-label">Task ID: {{ card.ticketid }}</span>
                                    <span [ngClass]="{
                                        'past-due': isPastDue(card.targetdate),
                                        'date-label': !isPastDue(card.targetdate)
                                      }">Target Date: {{ card.targetdate }}</span>
                                </div>
                                <div class="container">
                                    <div class="assigned-users">
                                        <ng-container *ngFor="let user of card.assignUsers; let i = index">
                                            <div *ngIf="i < 4" matTooltip="{{ user.fullname }}" class="initial-circle">
                                              {{ getInitials(user.fullname) }}
                                            </div>
                                          </ng-container>
                                          <div *ngIf="card.assignUsers.length > 4" class="additional-users" (click)="toggleUserList()" [matMenuTriggerFor]="afterMenu">
                                            +{{ card.assignUsers.length - 4 }}
                                          </div>
                                          <mat-menu #afterMenu="matMenu" xPosition="after">
                                            <button mat-menu-item *ngFor="let user of card.remaining">
                                              {{ user.fullname }}
                                            </button>
                                          </mat-menu>
                                    </div>
                                    <div class="actions-container">
                                        <mat-icon matTooltip="Description" class="description-icon" (click)="openDescriptionDialog(card)">description</mat-icon>
                                        <mat-icon matTooltip="Comments" class="comment-icon" (click)="openCommentsDialog(card)">comment</mat-icon>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                    <h5 class="item-heading heading-todo">To Do ({{ todo.length }})</h5>
                    <div class="card-container">
                        <mat-card class="card" *ngFor="let card of todo" cdkDrag>
                            <mat-card-header>
                                <mat-card-title (click)="openSubTasks(card)" 
                                style="cursor: pointer; font-weight: 600; color: #0000ee;" 
                                class="truncate-multiline"
                                matTooltip="{{ card.taskName | titlecase }}" 
                                matTooltipPosition="above">{{ card.taskName | titlecase }}</mat-card-title>
                                <div class="card-actions">
                                    <mat-icon matTooltip="Edit Task" (click)="editTask(card)" class="edit-icon">edit</mat-icon>
                                    <mat-icon matTooltip="Delete Task" (click)="deleteTask(card.taskid)" class="delete-icon">delete</mat-icon>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="labels-container">
                                    <span class="ticket-label">Task ID: {{ card.ticketid }}</span>
                                    <span [ngClass]="{
                                        'past-due': isPastDue(card.targetdate),
                                        'date-label': !isPastDue(card.targetdate)
                                      }">Target Date: {{ card.targetdate }}</span>
                                </div>
                                <div class="container">
                                    <div class="assigned-users">
                                        <ng-container *ngFor="let user of card.assignUsers; let i = index">
                                            <div *ngIf="i < 4" matTooltip="{{ user.fullname }}" class="initial-circle">
                                              {{ getInitials(user.fullname) }}
                                            </div>
                                          </ng-container>
                                          <div *ngIf="card.assignUsers.length > 4" class="additional-users" (click)="toggleUserList()" [matMenuTriggerFor]="afterMenu">
                                            +{{ card.assignUsers.length - 4 }}
                                          </div>
                                          <mat-menu #afterMenu="matMenu" xPosition="after">
                                            <button mat-menu-item *ngFor="let user of card.remaining">
                                              {{ user.fullname }}
                                            </button>
                                          </mat-menu>
                                    </div>
                                    <div class="actions-container">
                                        <mat-icon matTooltip="Description" class="description-icon" (click)="openDescriptionDialog(card)">description</mat-icon>
                                        <mat-icon matTooltip="Comments" class="comment-icon" (click)="openCommentsDialog(card)">comment</mat-icon>
                                    </div>
                                </div>
                                
                            </mat-card-content>
                        </mat-card>
                          
                    </div>
                </div>

                <div cdkDropList [cdkDropListData]="inReview" class="example-list" (cdkDropListDropped)="drop($event)">
                    <h5 class="item-heading heading-in-review">In Review ({{ inReview.length }})</h5>
                    <div class="card-container">
                        <mat-card class="card" *ngFor="let card of inReview" cdkDrag>
                            <mat-card-header>
                                <mat-card-title (click)="openSubTasks(card)" style="cursor: pointer; font-weight: 600; color: #0000ee;" 
                                class="truncate-multiline"
                                matTooltip="{{ card.taskName | titlecase }}" 
                                matTooltipPosition="above">{{ card.taskName | titlecase }}</mat-card-title>
                                <div class="card-actions">
                                    <mat-icon matTooltip="Edit Task" (click)="editTask(card)" class="edit-icon">edit</mat-icon>
                                    <mat-icon matTooltip="Delete Task" (click)="deleteTask(card.taskid)" class="delete-icon">delete</mat-icon>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="labels-container">
                                    <span class="ticket-label">Task ID: {{ card.ticketid }}</span>
                                    <span [ngClass]="{
                                        'past-due': isPastDue(card.targetdate),
                                        'date-label': !isPastDue(card.targetdate)
                                      }">Target Date: {{ card.targetdate }}</span>
                                </div>
                                <div class="container">
                                    <div class="assigned-users">
                                        <ng-container *ngFor="let user of card.assignUsers; let i = index">
                                            <div *ngIf="i < 4" matTooltip="{{ user.fullname }}" class="initial-circle">
                                              {{ getInitials(user.fullname) }}
                                            </div>
                                          </ng-container>
                                          <div *ngIf="card.assignUsers.length > 4" class="additional-users" (click)="toggleUserList()" [matMenuTriggerFor]="afterMenu">
                                            +{{ card.assignUsers.length - 4 }}
                                          </div>
                                          <mat-menu #afterMenu="matMenu" xPosition="after">
                                            <button mat-menu-item *ngFor="let user of card.remaining">
                                              {{ user.fullname }}
                                            </button>
                                          </mat-menu>
                                    </div>
                                    <div class="actions-container">
                                        <mat-icon matTooltip="Description" class="description-icon" (click)="openDescriptionDialog(card)">description</mat-icon>
                                        <mat-icon matTooltip="Comments" class="comment-icon" (click)="openCommentsDialog(card)">comment</mat-icon>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <div cdkDropList [cdkDropListData]="inProgress" class="example-list" (cdkDropListDropped)="drop($event)">
                    <h5 class="item-heading heading-in-progress">In Progress ({{ inProgress.length }})</h5>
                    <div class="card-container">
                        <mat-card class="card" *ngFor="let card of inProgress" cdkDrag>
                            <mat-card-header>
                                <mat-card-title (click)="openSubTasks(card)" style="cursor: pointer; font-weight: 600; color: #0000ee;" 
                                class="truncate-multiline"
                                matTooltip="{{ card.taskName | titlecase }}" 
                                matTooltipPosition="above">{{ card.taskName | titlecase }}</mat-card-title>
                                <div class="card-actions">
                                    <mat-icon matTooltip="Edit Task" (click)="editTask(card)" class="edit-icon">edit</mat-icon>
                                    <mat-icon matTooltip="Delete Task" (click)="deleteTask(card.taskid)" class="delete-icon">delete</mat-icon>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="labels-container">
                                    <span class="ticket-label">Task ID: {{ card.ticketid }}</span>
                                    <span [ngClass]="{
                                        'past-due': isPastDue(card.targetdate),
                                        'date-label': !isPastDue(card.targetdate)
                                      }">Target Date: {{ card.targetdate }}</span>
                                </div>
                                <div class="container">
                                    <div class="assigned-users">
                                        <ng-container *ngFor="let user of card.assignUsers; let i = index">
                                            <div *ngIf="i < 4" matTooltip="{{ user.fullname }}" class="initial-circle">
                                              {{ getInitials(user.fullname) }}
                                            </div>
                                          </ng-container>
                                          <div *ngIf="card.assignUsers.length > 4" class="additional-users" (click)="toggleUserList()" [matMenuTriggerFor]="afterMenu">
                                            +{{ card.assignUsers.length - 4 }}
                                          </div>
                                          <mat-menu #afterMenu="matMenu" xPosition="after">
                                            <button mat-menu-item *ngFor="let user of card.remaining">
                                              {{ user.fullname }}
                                            </button>
                                          </mat-menu>
                                    </div>
                                    <div class="actions-container">
                                        <mat-icon matTooltip="Description" class="description-icon" (click)="openDescriptionDialog(card)">description</mat-icon>
                                        <mat-icon matTooltip="Comments" class="comment-icon" (click)="openCommentsDialog(card)">comment</mat-icon>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <div cdkDropList [cdkDropListData]="onHold" class="example-list" (cdkDropListDropped)="drop($event)">
                    <h5 class="item-heading heading-on-hold">On Hold ({{ onHold.length }})</h5>
                    <div class="card-container">
                        <mat-card class="card" *ngFor="let card of onHold" cdkDrag>
                            <mat-card-header>
                                <mat-card-title (click)="openSubTasks(card)" style="cursor: pointer; font-weight: 600; color: #0000ee;" 
                                class="truncate-multiline"
                                matTooltip="{{ card.taskName | titlecase }}" 
                                matTooltipPosition="above">{{ card.taskName | titlecase }}</mat-card-title>
                                <div class="card-actions">
                                    <mat-icon matTooltip="Edit Task" (click)="editTask(card)" class="edit-icon">edit</mat-icon>
                                    <mat-icon matTooltip="Delete Task" (click)="deleteTask(card.taskid)" class="delete-icon">delete</mat-icon>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="labels-container">
                                    <span class="ticket-label">Task ID: {{ card.ticketid }}</span>
                                    <span [ngClass]="{
                                        'past-due': isPastDue(card.targetdate),
                                        'date-label': !isPastDue(card.targetdate)
                                      }">Target Date: {{ card.targetdate }}</span>
                                </div>
                                <div class="container">
                                    <div class="assigned-users">
                                        <ng-container *ngFor="let user of card.assignUsers; let i = index">
                                            <div *ngIf="i < 4" matTooltip="{{ user.fullname }}" class="initial-circle">
                                              {{ getInitials(user.fullname) }}
                                            </div>
                                          </ng-container>
                                          <div *ngIf="card.assignUsers.length > 4" class="additional-users" (click)="toggleUserList()" [matMenuTriggerFor]="afterMenu">
                                            +{{ card.assignUsers.length - 4 }}
                                          </div>
                                          <mat-menu #afterMenu="matMenu" xPosition="after">
                                            <button mat-menu-item *ngFor="let user of card.remaining">
                                              {{ user.fullname }}
                                            </button>
                                          </mat-menu>
                                    </div>
                                    <div class="actions-container">
                                        <mat-icon matTooltip="Description" class="description-icon" (click)="openDescriptionDialog(card)">description</mat-icon>
                                        <mat-icon matTooltip="Comments" class="comment-icon" (click)="openCommentsDialog(card)">comment</mat-icon>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <div cdkDropList [cdkDropListData]="completed" class="example-list" (cdkDropListDropped)="drop($event)">
                    <h5 class="item-heading heading-completed">Completed ({{ completed.length }})</h5>
                    <div class="card-container">
                        <mat-card class="card" *ngFor="let card of completed" cdkDrag>
                            <mat-card-header>
                                <mat-card-title (click)="openSubTasks(card)" style="cursor: pointer; font-weight: 600; color: #0000ee;" 
                                class="truncate-multiline"
                                matTooltip="{{ card.taskName | titlecase }}" 
                                matTooltipPosition="above">{{ card.taskName | titlecase }}</mat-card-title>
                                <div class="card-actions">
                                    <mat-icon matTooltip="Edit Task" (click)="editTask(card)" class="edit-icon">edit</mat-icon>
                                    <mat-icon matTooltip="Delete Task" (click)="deleteTask(card.taskid)" class="delete-icon">delete</mat-icon>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="labels-container">
                                    <span class="ticket-label">Task ID: {{ card.ticketid }}</span>
                                    <span class="date-label">Target Date: {{ card.targetdate }}</span>
                                </div>
                                <div class="container">
                                    <div class="assigned-users">
                                        <ng-container *ngFor="let user of card.assignUsers; let i = index">
                                            <div *ngIf="i < 4" matTooltip="{{ user.fullname }}" class="initial-circle">
                                              {{ getInitials(user.fullname) }}
                                            </div>
                                          </ng-container>
                                          <div *ngIf="card.assignUsers.length > 4" class="additional-users" (click)="toggleUserList()" [matMenuTriggerFor]="afterMenu">
                                            +{{ card.assignUsers.length - 4 }}
                                          </div>
                                          <mat-menu #afterMenu="matMenu" xPosition="after">
                                            <button mat-menu-item *ngFor="let user of card.remaining">
                                              {{ user.fullname }}
                                            </button>
                                          </mat-menu>
                                    </div>
                                    <div class="actions-container">
                                        <mat-icon matTooltip="Description" class="description-icon" (click)="openDescriptionDialog(card)">description</mat-icon>
                                        <mat-icon matTooltip="Comments" class="comment-icon" (click)="openCommentsDialog(card)">comment</mat-icon>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>