.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  top: 0;
  overflow: hidden;
}

.header-text {
  padding-left: 8px;
  font-weight: 600;
}

.mat-column-SerialNum,
.mat-column-InterviewId,
.mat-column-ConsultantName,
.mat-column-DateAndToI,
.mat-column-Round,
.mat-column-Mode,
.mat-column-Vendor,
.mat-column-ImplementationPartner,
.mat-column-Client,
.mat-column-DateOfSubmission,
.mat-column-EmployeerName,
.mat-column-InterviewStatus {
    border-right: 1px solid lightgray;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 4px 0 4px;
}

.mat-mdc-header-row {
  height: 30px !important;
}

.mat-mdc-row {
  height: 30px !important;
}

.mat-mdc-header-row {
  background-color: rgb(213, 231, 231);
  top: 0;
}

.no-data-found {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 64px;
}