.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e1e3ef;
  height: 52px;
  margin-bottom: 32px;
}

.content {
  height: 80px;
  font-weight: 800;
  margin-bottom: 8px;
}

.actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 8px;
}

.remarks-field {
  width: 90%;
  margin: 15px;



}

.remarksdelete {
  font-weight: 700;
  position: relative;
  bottom: 19px;
  margin: 6px;
  padding: 4px 8px;
  background-color: #fdecead9;
  color: #e1190a;
  box-shadow: 0 2px 6px rgb(255 0 0 / 27%);
  border-radius: 4px;
}