<!-- Progress bar  -->
<!-- <mat-progress-bar
      [color]="color" *ngIf="isLoading$ | async"
      mode="indeterminate">
</mat-progress-bar> -->

<ng-container *ngIf="isLoading$ | async">
      <div class="overlay">
            <mat-spinner diameter="50" value="50" strokeWidth="8"></mat-spinner>
      </div>
</ng-container>

<app-sidebar *ngIf="!( _router.url === '' ||   _router.url === '/' ||  _router.url === '/login' || _router.url === '/forgot-password' || _router.url === '/consultant-register')" ></app-sidebar>

<!-- <app-sidebar *ngIf="!['/login'].includes(currentURL)"></app-sidebar> -->
<router-outlet></router-outlet>
<router-outlet *ngIf="(  _router.url === '' ||  _router.url === '/' ||  _router.url === '/login' || _router.url === '/forgot-password' || _router.url === '/consultant-register')" ></router-outlet>
<!-- <app-footer *ngIf="!['/login'].includes(currentURL)"></app-footer> -->
<app-footer *ngIf="!(  _router.url === '' ||  _router.url === '/' ||  _router.url === '/login' || _router.url === '/forgot-password' || _router.url === '/consultant-register')" ></app-footer>
