<div class="submission-container">
    <ul class="breadcrumb">
        <li><a (click)="navigateToDashboard()">Home</a></li>
        <li class="last">{{ flag }}</li>
        <li class="last">Interviews</li>
    </ul>
    <div class="header-container mat-elevation-z1">
        <span class="header-text">
            Interviews
        </span>

        <div class="submission-actions">

            <button [disabled]="!privilegeServ.hasPrivilege('ADD_INTERVIEWS_SALES')" matTooltip="Add"
                *ngIf="flag==='Sales'" matTooltipPosition="left" mat-icon-button class="add-submission"
                (click)="addInterview()">
                <mat-icon
                    [ngClass]="{'item-icon': privilegeServ.hasPrivilege('ADD_INTERVIEWS_SALES')}">add_circle</mat-icon>
            </button>

            <button [disabled]="!privilegeServ.hasPrivilege('ADD_INTERVIEWS_RECRUITING')" matTooltip="Add"
                *ngIf="flag==='Recruiting'" matTooltipPosition="left" mat-icon-button class="add-submission"
                (click)="addInterview()">
                <mat-icon
                    [ngClass]="{'item-icon': privilegeServ.hasPrivilege('ADD_INTERVIEWS_RECRUITING')}">add_circle</mat-icon>
            </button>

            <button [disabled]="!privilegeServ.hasPrivilege('ADD_INTERVIEWS_DOM')" matTooltip="Add"
                *ngIf="flag==='Domrecruiting'" matTooltipPosition="left" mat-icon-button class="add-submission"
                (click)="addInterview()">
                <mat-icon
                    [ngClass]="{'item-icon': privilegeServ.hasPrivilege('ADD_INTERVIEWS_DOM')}">add_circle</mat-icon>
            </button>

            <div class="search-submission">
                <input matInput type="text" class="search" placeholder="search interviews"
                    (keyup)="applyFilter($event)">
            </div>
        </div>
    </div>
    <div id="table-container" class="table-wrapper">
        <section class="mat-elevation-z8 interview-table-style">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)" oncopy="return false">

                <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

                <!-- SNo Column mat-sort-header-->
                <ng-container matColumnDef="SerialNum">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Serial Number">
                        S.No </th>
                    <td mat-cell *matCellDef="let element"> {{element?.serialNum}} </td>
                </ng-container>
                <!-- Date-->
                <ng-container matColumnDef="InterviewId">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by InterviewId" mat-sort-header>
                        Interview ID
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element?.interviewno}} </td>
                </ng-container>
                <!-- ID-->
                <ng-container matColumnDef="ConsultantName">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by ConsultantName"
                        mat-sort-header> Consultant Name </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="consultant-id"
                            (click)="goToConsultantInfo(element, flag)">{{element?.name|titlecase}}
                        </span>

                    </td>
                </ng-container>
                <!-- Name-->
                <ng-container matColumnDef="DateAndToI">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by DateAndToI" mat-sort-header>
                        Date & Time of Interview </th>
                    <td mat-cell *matCellDef="let element" nowrap>
                        {{element?.interview_date | date:'MM-dd-yyyy HH:mm'}} {{element?.time_zone}}</td>
                </ng-container>

                <!-- Requirement-->
                <ng-container matColumnDef="Mode">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by Mode" mat-sort-header>
                        Mode </th>
                    <td mat-cell *matCellDef="let element"> {{element?.mode}}
                    </td>
                </ng-container>
                   <!-- Client Location -->
                   <ng-container matColumnDef="Client">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by Client" mat-sort-header> Client
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element?.endclient}}
                    </td>
                </ng-container>
               
                <!-- Implementation Partner-->
                <ng-container matColumnDef="ImplementationPartner">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by ImplementationPartner"
                        mat-sort-header> Implementation Partner </th>
                    <td mat-cell *matCellDef="let element"> {{element?.implpartner}}
                    </td>
                </ng-container>
              <!-- Vendor-->
              <ng-container matColumnDef="Vendor">
                <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by Vendor" mat-sort-header>
                    Vendor </th>
                <td mat-cell *matCellDef="let element"> {{element?.vendor}}
                </td>
            </ng-container>
                <!-- Sub Rate Column -->
                <ng-container matColumnDef="DateOfSubmission">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by DateOfSubmission"
                        mat-sort-header>
                        Date of Submission</th>
                    <td mat-cell *matCellDef="let element"> {{element.createddate | date:'MM-dd-yyyy'}}
                    </td>
                </ng-container>
                <!-- Project Location Column -->
                <ng-container matColumnDef="EmployeerName">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by EmployeerName" mat-sort-header>
                        Employeer Name</th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container
                            *ngIf="this.flag == 'Recruiting'; then recInterview else salesInterview"></ng-container>
                        <ng-template #recInterview>
                            {{ element?.reqnumber }}<span class="employeer-name"
                                (click)="goToUserInfo(element.userid)">{{element.fullname}}</span>
                        </ng-template>
                        <ng-template #salesInterview>
                            <span class="employeer-name"
                                (click)="goToUserInfo(element.userid)">{{element.pseudoname}}</span>
                        </ng-template>
                </ng-container>
                <!-- Track(S/I)-->
                <ng-container matColumnDef="Round">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by Round" mat-sort-header> Round
                    </th>
                    <td mat-cell *matCellDef="let element">{{element?.round}} </td>
                </ng-container>
                <!-- Interview Status Column -->
           
                  <ng-container matColumnDef="InterviewStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by InterviewStatus">
                      Interview Status
                    </th>
                    <td mat-cell *matCellDef="let element"
                        [matTooltip]="feedbackData[element.intrid]"
                        matTooltipPosition="above">
                      {{ element.interview_status }}
                    </td>
                  </ng-container>
                  

                <!-- Action Column -->
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let interview">
                        <span class="action-buttons">

                            <button [disabled]="!privilegeServ.hasPrivilege('EDIT_INTERVIEWS_SALES') " mat-icon-button
                                *ngIf="flag==='Sales'" (click)="editInterview(interview)" class="action-button-ed">
                                <mat-icon>edit</mat-icon></button>

                            <button [disabled]="!privilegeServ.hasPrivilege('EDIT_INTERVIEWS_RECRUITING') " mat-icon-button
                                *ngIf="flag==='Recruiting'" (click)="editInterview(interview)" class="action-button-ed">
                                <mat-icon>edit</mat-icon></button>

                            <button [disabled]="!privilegeServ.hasPrivilege('EDIT_INTERVIEWS_DOM') " mat-icon-button
                                *ngIf="flag==='Domrecruiting'" (click)="editInterview(interview)"
                                class="action-button-ed">
                                <mat-icon>edit</mat-icon></button>

                            <button [disabled]="!privilegeServ.hasPrivilege('DELETE_INTERVIEWS_SALES')" mat-icon-button *ngIf="flag==='Sales'"
                                (click)="deleteInterview(interview)" class="action-button-ed">
                                <mat-icon [ngClass]="{'delete-icon': privilegeServ.hasPrivilege('DELETE_INTERVIEWS_SALES')}">delete</mat-icon>
                            </button>

                            <button [disabled]="!privilegeServ.hasPrivilege('DELETE_INTERVIEWS_RECRUITING')" mat-icon-button *ngIf="flag==='Recruiting'"
                                (click)="deleteInterview(interview)" class="action-button-ed">
                                <mat-icon [ngClass]="{'delete-icon': privilegeServ.hasPrivilege('DELETE_INTERVIEWS_RECRUITING')}">delete</mat-icon>
                            </button>

                            <button [disabled]="!privilegeServ.hasPrivilege('DELETE_INTERVIEWS_DOM')" mat-icon-button *ngIf="flag==='Domrecruiting'"
                                (click)="deleteInterview(interview)" class="action-button-ed">
                                <mat-icon [ngClass]="{'delete-icon': privilegeServ.hasPrivilege('DELETE_INTERVIEWS_DOM')}">delete</mat-icon>
                            </button>
                        </span>
                    </td>
                </ng-container>

                <!-- table columns ends  -->

                <!-- table ROW -->
                <tr mat-header-row *matHeaderRowDef="dataTableColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: dataTableColumns;" [ngStyle]="getRowStyles(row)"></tr>
            </table>
            <p class="no-data-found" *ngIf="!dataSource.data.length">{{'No matching data found'}}</p>
        </section>
        <hr>
    </div>

    <div class="paginator">
        <!-- paginator -->
        <mat-paginator (page)="handlePageEvent($event)" [length]="totalItems" [pageSize]="pageSize" [disabled]="false"
            [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
            [hidePageSize]="true" [pageIndex]="currentPageIndex" aria-label="Select page">
        </mat-paginator>
    </div>

</div>