.mat-toolbar{
  padding: 0px;
}

.button-divider {
  flex: 1 1 auto;
}

img {
  max-width: fit-content;
  height: inherit;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}

.sidebar-sidenav-container {
  height: calc(100vh - 68px);
  background: #eee;
}

.sidnav {
  width: 16dvw;
  box-sizing: border-box;
  background: rgb(243, 243, 243);
  overflow: auto !important;
}

.router-container {
  height: calc(100vh - 68px);
  background-color: white;
  overflow-y: hidden;
}

.profile-icon {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-user-name{
  margin-left: 8px;
}

.user-menu {
  background-color: #d76666 !important;
  margin-bottom: 2px !important;
}

.user-name {
  align-items: center;
  justify-content: center;
}

.tool-bar-container {
  height: 48px;
}

.notification-content {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 8px;
}

.notification-time {
  font-size: 0.8em;
  color: gray;
  margin-right: 12px;
  white-space: nowrap;
}

.notification-text {
  font-size: 1em;
  flex-grow: 1;
}

button[mat-menu-item] {
  display: flex;
  align-items: center;
  width: 100%;
}

.unseen-notification {
  background-color: rgb(218, 234, 255) !important;
}

.notification-bold {
  font-weight: bold;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0px !important;
}

::ng-deep .mat-mdc-menu-panel {
  max-height: 350px;
  overflow-y: auto;
}