.update-qualification-dialog-container {
  overflow: hidden !important;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  height: fit-content;
}

.add-qualification-form {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
}
