<div class="header-container mat-elevation-z1">
  <span class="header-text" mat-dialog-title>
    {{data.title}}
  </span>
  <button mat-icon-button (click)="onCancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-card class="center-card">

  <form [formGroup]="requirementForm" (ngSubmit)="onSubmit()" class="vendor-form" >
    <div class="form">
      <div class="form-column-left">
        <input type="hidden" name="maxnumber" formControlName="maxnumber">
        <input type="hidden" name="dommaxnumber" formControlName="dommaxnumber">
        <input type="hidden" formControlName="requirementid" name="requirementid">
        <input type="hidden" formControlName="flag" name="flag">
                            
        <!-- Req Number -->
        <mat-form-field appearance="fill">
          <mat-label>Req Number</mat-label>
          <input matInput formControlName="reqnumber" maxlength="12" readonly>
        </mat-form-field>

        <!-- Date -->
        <mat-form-field appearance="fill">
          <mat-label>Date</mat-label>
          <input matInput formControlName="postedon" maxlength="12" readonly>
        </mat-form-field>

        <!-- Select Vendor/Impl -->
        <div class="fg-div">
          <mat-form-field appearance="fill">
          <mat-label>Select Vendor/Impl</mat-label>
          <!-- <input matInput formControlName="vendorimpl"  maxlength="50"> -->
          <!-- [matAutocomplete]="vendorAutoCmp" -->
          <!-- <mat-autocomplete #vendorAutoCmp="matAutocomplete">
            <mat-option *ngFor="let option of vendorCompanyArr" [value]="option.company" (onSelectionChange)="recruiterList(option.id)">{{ option.company.trim() }}</mat-option>
          </mat-autocomplete> -->
          <mat-select formControlName="vendorimpl" (selectionChange)="recruiterList($event)">
            <mat-option *ngFor="let option of  vendorCompanyArr" [value]="option.id">{{ option.company.trim() }}</mat-option>
          </mat-select>
          <button type="button" matSuffix mat-icon-button (click)="goToVendorList()"><mat-icon>add</mat-icon></button>
          <mat-hint *ngIf="(searchObs$ | async)?.length === 0">No results found, click '+' to add vendor</mat-hint>
          <mat-error *ngIf="requirementForm.get('vendorimpl')!.hasError('required')"> Vendor Company is required</mat-error>

        </mat-form-field>
        </div>

        <!-- Client -->
        <mat-form-field appearance="fill">
          <mat-label>Client</mat-label>
          <input matInput formControlName="client" maxlength="120">
        </mat-form-field>

        <!-- Job Title -->
        <mat-form-field appearance="fill">
          <mat-label>Job Title</mat-label>
          <input matInput formControlName="jobtitle"  maxlength="120">
          <mat-error *ngIf="requirementForm.get('jobtitle')!.hasError('required')"> Job Title is required</mat-error>
        </mat-form-field>

        <!-- Select Technology -->
        <div class="fg-div">
          <mat-form-field appearance="fill" class="form-technology">
            <mat-label>Select Technology</mat-label>
            <mat-select formControlName="technology" (selectionChange)="techSkills($event)">
              <mat-option *ngFor="let option of  techArr" [value]="option[0]" >{{ option[1] }}</mat-option>
              
            </mat-select>
            <button type="button" matSuffix mat-icon-button (click)="goToTechnologyList()"><mat-icon>add</mat-icon></button>
          </mat-form-field>
        </div>

         <!-- Skills -->
        <mat-form-field class="description-field">
          <mat-label>Skills</mat-label>
          <textarea formControlName="jobskills" matInput rows="3" maxlength="10000"></textarea>
        </mat-form-field>

        <!-- Job Description -->
        <mat-form-field class="description-field">
          <mat-label>Job Description</mat-label>
          <textarea formControlName="jobdescription" matInput rows="4" maxlength="10000"></textarea>
            <mat-error *ngIf="requirementForm.get('jobdescription')!.hasError('required')"> Job Description is required</mat-error>
        </mat-form-field>

          <!-- Location -->
          <mat-form-field appearance="fill">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" ngx-gp-autocomplete [options]='options' (onAddressChange)="handleAddressChange($event)" maxlength="140">
            <mat-error *ngIf="requirementForm.get('location')!.hasError('required')"> Location is required</mat-error>
          </mat-form-field>
      </div>

      <div class="form-column-right">
        <!-- Job Experience   -->
        <mat-form-field appearance="fill">
          <mat-label>Job Experience</mat-label>
          <input matInput  formControlName="jobexperience" maxlength="2">
        </mat-form-field>

        <!-- Rate Type -->
        <div style="width: 80%;">
          <mat-label>Rate Type</mat-label><br>
          <mat-radio-group formControlName="employmenttype" (change)="onRadioChange($event)">
            <mat-radio-button value="C2C">C2C</mat-radio-button>
            <mat-radio-button value="1099">1099</mat-radio-button>
            <mat-radio-button value="W2">W2</mat-radio-button>
            <mat-radio-button value="Full Time">Full Time</mat-radio-button>
            <mat-radio-button value="C2H">C2H</mat-radio-button>
            <mat-error *ngIf="requirementForm.get('employmenttype')!.hasError('required')  && isRadSelected">Employment Type is required</mat-error>
          </mat-radio-group>
        </div>
        
        <!-- Assign Recruiter -->
        <mat-form-field appearance="fill">
          <mat-label>Assign Recruiter</mat-label>
            <mat-chip-grid #chipGrid aria-label="Assign Recruiter" formControlName="empid">
              <mat-chip-row *ngFor="let employee of selectData" class="chip-style" (removed)="remove(employee)">
                {{ employee.fullname }}
                <button matChipRemove [attr.aria-label]="'remove ' + employee">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
            
            <input
              #employeeInput
              formControlName="empid"
              [matChipInputFor]="chipGrid"
              [matAutocomplete]="auto"
              (matChipInputTokenEnd)="add($event)"
            />
            <mat-autocomplete #auto="matAutocomplete" formControlName="empid">
              <mat-checkbox [checked]="isAllOptionsSelected" color="primary" (change)="onSelectAll($event)">{{ isAllOptionsSelected ? 'UnSelect All': 'Select All'}}</mat-checkbox>
              <mat-option *ngFor="let employee of empArr">
                <div (click)="optionClicked($event, employee)">
                  <mat-checkbox [checked]="employee.selected" color="primary" (change)="toggleSelection(employee)" (click)="$event.stopPropagation()">
                    {{ employee.fullname }}
                  </mat-checkbox>
                </div>
              </mat-option>
            </mat-autocomplete>
          <mat-error *ngIf="requirementForm.get('empid')!.hasError('required') || requirementForm.get('empid')?.value ">Select Recruiter</mat-error>
        </mat-form-field>

         <!-- Select POC -->
         <div class="fg-div">
          <mat-form-field>
            <mat-label>Select POC </mat-label>
            <mat-select formControlName="recruiter" (selectionChange)="recruiterContact($event)">
              <mat-option *ngFor="let obj of recruiterArr" [value]="obj.id">{{obj.recruiter}}</mat-option>
            </mat-select>
            <button type="button" matSuffix mat-icon-button (click)="goToRecruiterList()"><mat-icon>add</mat-icon></button>
            <mat-error *ngIf="requirementForm.get('recruiter')!.hasError('required')">Contact Person Name is required</mat-error>
          </mat-form-field>
         </div>

         <!-- POC Position -->
         <mat-form-field appearance="fill">
          <mat-label>POC Position</mat-label>
          <input matInput formControlName="pocposition" maxlength="50">
        </mat-form-field>

        <!-- POC Email -->
        <mat-form-field appearance="fill">
          <mat-label>POC Email</mat-label >
          <input matInput formControlName="pocemail" maxlength="50">
        </mat-form-field>

        <!-- POC Contact Number -->
        <mat-form-field appearance="fill">
          <mat-label>POC Contact Number</mat-label>
          <input matInput formControlName="pocphonenumber" maxlength="40">
        </mat-form-field>
        
        <!-- Salary / Hourly Rate -->
        <mat-form-field appearance="fill">
          <mat-label>Salary / Hourly Rate</mat-label>
          <input matInput formControlName="salary" maxlength="5">
        </mat-form-field>

        <!-- Project Duration -->
        <mat-form-field appearance="fill">
          <mat-label>Project Duration</mat-label>
          <input matInput formControlName="duration" maxlength="30">
          <mat-error *ngIf="requirementForm.get('duration')!.hasError('required')"> Project duration is required</mat-error>
        </mat-form-field>


        <!-- Select Status -->
        <mat-form-field appearance="fill" *ngIf="data.actionName === 'edit-requirement'">
          <mat-label>Select Status</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let option of selectOptionObj.statusType"
              [value]="option">
              {{ option }}
            </mat-option>
            </mat-select>
            <mat-error *ngIf="requirementForm.get('status')!.hasError('required')"> Status is required</mat-error>
        </mat-form-field>
      </div>
    </div>


  </form>
  <div class="form-button-right">
    <button mat-raised-button color="white" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  </div>
</mat-card>